{% extends 'admin/layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('inventory_item') }}"> {{ 'Manage Finish Goods'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Finish Goods'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('inventory_item_create') }}" id="createForm"   data-action="" class="btn btn-sm  green-bg white-font"><i class="fa fa-plus"></i>{{ 'New Item'|trans }}</a>
                            <a href="{{ path('inventory_item_finish_goods') }}" class="btn btn-sm blue-bg white-font"><i class="fa fa-th-large"></i>{{ 'Finish Goods'|trans }}</a>
                            <a href="{{ path('inventory_item') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Items'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">

                    <table class="table table-striped table-bordered table-hover dataTable" id="datatable">
                        <thead class="thead-dark">
                        <tr>
                            <th><i class="feather icon-list"></i></th>
                            <th>HS Code</th>
                            <th>Master Product</th>
                            <th>Brand</th>
                            <th>Name </th>
                            <th>Unit</th>
                            <th>SKU</th>
                            <th>Sales</th>
                            <th>VAT(%)</th>
                            <th>SD(%)</th>
                            <th>Purchase</th>
                            <th>Production</th>
                            <th>Sales</th>
                            <th>S. Return</th>
                            <th>Damage</th>
                            <th>Ongoing</th>
                            <th>Remain</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ product.masterItem.hsCode }}</td>
                                <td>{{ product.masterItem.name }}</td>
                                <td>{% if product.brand is not empty %}{{ product.brand.name }}{% endif %}</td>
                                <td>{{ product.name }} </td>
                                <td>{% if product.unit is not empty %}{{ product.unit.name }}{% endif %}</td>
                                <td>{{ product.sku }}</td>
                                <td>{{ product.productionPrice }}</td>
                                <td>{{ product.vatPercent }}</td>
                                <td>{{ product.sdPercent }}</td>
                                <td>{{ product.purchaseQuantity }}</td>
                                <td>{{ product.productionBatchItemQuantity }}</td>
                                <td>{{ product.salesQuantity }}</td>
                                <td>{{ product.salesReturnQuantity }}</td>
                                <td>{{ product.damageQuantity }}</td>
                                <td>{{ product.ongoingQuantity }}</td>
                                <td>{{ product.remainingQuantity }}</td>
                                <td>
                                    <div class="btn-group card-option">
                                        <button type="button" class="btn btn-notify" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fas fa-ellipsis-h"></i></button>
                                        <ul class="list-unstyled card-option dropdown-info dropdown-menu dropdown-menu-right" x-placement="top-end" >
                                            <li class="dropdown-item"> <a data-action="{{ path('inventory_item_show',{'id':product.id}) }}&amp;check=show#modal" id="postView-{{ product.id }}">View</a></li>
                                            <li class="dropdown-item"> <a href="{{ path('inventory_item_edit',{'id':product.id}) }}">Edit</a></li>
                                            <li class="dropdown-item"> <a href="{{ path('inventory_item_production',{'id':product.id}) }}">Send To Production</a></li>
                                            <li class="dropdown-item"> <a data-action="{{ path('inventory_item_delete',{'id':product.id}) }}" class="remove" data-id="{{ product.id }}" href="javascript:">Remove</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <style>

    </style>
{% endblock %}
 {% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/inventory/item/item.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $('#datatable').DataTable( {
    "pageLength": 25,
    'columnDefs': [ {
    'targets': [0,17],
    'orderable': false
    }]
    });
{% endblock %}

