{% extends 'admin/layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('inventory_item') }}"> {{ 'Manage Item'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Item'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">

                            <a href="{{ path('inventory_item_create') }}" id="createForm"   data-action="" class="btn btn-sm  green-bg white-font"><i class="fa fa-plus"></i>{{ 'New Item'|trans }}</a>
                            <a href="{{ path('inventory_item_finish_goods') }}" class="btn btn-sm blue-bg white-font"><i class="fa fa-th-large"></i>{{ 'Finish Goods'|trans }}</a>
                            <a href="{{ path('inventory_item') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Items'|trans }}</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">

                    <table class="table table-striped table-bordered table-hover dataTable" id="entityDatatable">
                        <thead class="thead-dark">
                        <tr role="row" class="filter">
                            <td colspan="2">
                                <input  type="text" class="form-control  input-sm" name="hsCode" id="hsCode" placeholder="Item hs code">
                            </td>
                            <td>
                                <select class="form-control" name="groupName" id="groupName">
                                    <option value=""> -Product Group- </option>
                                    {% for productGroup in productGroups %}
                                        <option value="{{ productGroup.id }}">{{ productGroup.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td colspan="2">
                                <select class="form-control" name="masterName" id="masterName">
                                    <option value=""> -Master Item- </option>
                                    {% for masterItem in masterItems %}
                                        <option value="{{ masterItem.id }}">{{ masterItem.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td colspan="14">
                                <input  type="text" class="form-control  input-sm" name="name" id="name" placeholder="Item Name">
                            </td>

                        </tr>

                        <tr>
                            <th><i class="feather icon-list"></i></th>
                            <th>HS Code</th>
                            <th>Item Group</th>
                            <th>Master Item</th>
                            <th>Brand</th>
                            <th>Name </th>
                            <th>Unit</th>
                            <th>SKU</th>
                            <th>PP</th>
                            <th>CP</th>
                            <th>Open</th>
                            <th>Purchase</th>
                            <th>Prod.Receive</th>
                            <th>Prod.Issue</th>
                            <th>Sales</th>
                            <th>Damage</th>
                            <th>Ongoing</th>
                            <th>Remain</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <style>

    </style>
{% endblock %}
 {% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/inventory/item/item.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/inventory/item/ajax-pagination.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}

