{% extends 'admin/layout.html.twig' %}
{% block body_id 'inventory_item_new' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="{{ path('inventory_item') }}"> Item</a></li>
                        <li class="breadcrumb-item">{{ 'Manage Product Item'|trans }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Product Item'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('inventory_item_create') }}" id="createForm"   data-action="" class="btn btn-sm  green-bg white-font"><i class="fa fa-plus"></i>{{ 'New Item'|trans }}</a>
                            <a href="{{ path('inventory_item_finish_goods') }}" class="btn btn-sm blue-bg white-font"><i class="fa fa-th-large"></i>{{ 'Finish Goods'|trans }}</a>
                            <a href="{{ path('inventory_item') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Items'|trans }}</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-th-large"></i> {{ 'Create New Item'|trans }}</div>
                    </div>
                    <div class="portlet-body form">
                        <form action="{{ actionUrl }}" novalidate="novalidate" method="post" class="form-horizontal" id="postForm">
                            <div class="row form-body">
                                <div class="form-inner">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ form_label(form.masterItem, 'Master Product', {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                    {{ form_widget(form.masterItem) }}
                                                    {{ form_errors(form.masterItem) }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                {{ form_label(form.name, 'Item Name', {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                    {{ form_widget(form.name) }}
                                                    {{ form_errors(form.name) }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                {{ form_label(form.unit, 'Unit', {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    {{ form_widget(form.unit) }}
                                                    {{ form_errors(form.unit) }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                {{ form_label(form.itemDimension, 'Item Size/Weight/Dimension', {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    {{ form_widget(form.itemDimension) }}
                                                    {{ form_errors(form.itemDimension) }}
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ form_label(form.brand, 'Brand', {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    {{ form_widget(form.brand) }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                {{ form_label(form.purchasePrice, 'Purchase/Production Price', {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-4">
                                                    {{ form_widget(form.purchasePrice) }}
                                                </div>
                                                <div class="col-md-4">
                                                    {{ form_widget(form.productionPrice) }}
                                                </div>
                                            </div>
                                             <div class="form-group">
                                                 <div class="col-md-4">&nbsp;</div>
                                                 <div class="col-md-8">
                                                     {{ form_widget(form.taxOverride) }}
                                                 </div>

                                            </div>
                                             <div class="form-group">
                                                {{ form_label(form.vatPercent, 'VAT/SD Percent(%)', {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-4">
                                                    {{ form_widget(form.vatPercent) }}
                                                    {{ form_help(form.vatPercent) }}
                                                </div>
                                                 <div class="col-md-4">
                                                     {{ form_widget(form.sdPercent) }}
                                                     {{ form_help(form.sdPercent) }}
                                                 </div>

                                            </div>
                                            <div class="form-group">
                                                {{ form_label(form.maxQuantity, 'Max/Min', {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-4">
                                                    {{ form_widget(form.maxQuantity) }}
                                                </div>
                                                <div class="col-md-4">
                                                    {{ form_widget(form.minQuantity) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-header grey-bg inner-header">
                                        <h5>Additional Information</h5>
                                        <div class="card-header-right">
                                            <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                                                <button type="button" id="addrow"  class="btn btn-sm  green-bg white-font addmore"><i class="fas fa-plus"></i></button>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body card-body-inner">
                                        <div class="col-md-12 clone-block" id="clone-block">
                                            <div class="clone">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <input type="text" name="metaKey[]" id="metaKey" class="form-control form-control-sm" placeholder="Enter label name" value="">
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="input-group">
                                                            <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments">
                                                            <div class="input-group-append">
                                                                <div data-action="{{ path('core_vendor_create_ajax') }}" class="btn btn-sm btn-transparent red-font row-remove hidden">
                                                                    <i class="fa fa-remove"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% if entity.itemKeyValues is not empty %}
                                            {% for keyValue in entity.itemKeyValues %}
                                                <div class="col-md-12" id="remove-{{ keyValue.id }}" style="margin-bottom: 5px">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <input type="text" name="metaKey[]" id="metaKey" class="form-control form-control-sm" placeholder="Enter label name" value="{{ keyValue.metaKey }}">
                                                          <input type="hidden" id="metaId" name="metaId[]"  value="{{  keyValue.id }}">
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="input-group">
                                                                <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments" value="{{ keyValue.metaValue }}">
                                                                <div class="input-group-append">
                                                                    <div data-action="{{ path('inventory_purchase_delete_invoice_meta',{'meta':keyValue.id}) }}" class="btn  btn-sm btn-transparent red-font remove">
                                                                        <i class="fas fa-remove"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="form-actions right">
                                        <div class="col-md-12">
                                            <div class="btn-group" role="group" aria-label="Button group with nested">
                                                <button type="reset"  class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>{{ 'label.reset'|trans }}</button>
                                                {{ form_widget(form._token) }}
                                                {{ form_widget(form.SaveAndCreate, {label: 'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/inventory/item/item.js') }}"></script>
{% endblock  %}
