<div class="portlet box blue ">
    <div class="portlet-title">
        <div class="caption"><i class="fa fa-th-large"></i> {{ 'Product Batch Details'|trans }}</div>
    </div>
    <div class="portlet-body form">
        <div class="row ">
            <div class="form-inner-no-space">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group-label">
                            <label class="col-md-6 text-right">Master Product</label>
                            <div class="col-md-6 text-left">{% if  entity.masterItem %}{{  entity.masterItem.name }}{% endif %}</div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group-label">
                            <label class="col-md-6 text-right">Product Name</label>
                            <div class="col-md-6 text-left">{{  entity.name }}</div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group-label">
                            <label class="col-md-6 text-right">Catehory</label>
                            <div class="col-md-6 text-left">{% if entity.category %}{{  entity.category.name }}{% endif %}</div>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                    <div class="col-md-4">
                        <div class="form-group-label">
                            <label class="col-md-6 text-right">HS Code</label>
                            <div class="col-md-6 text-left">{{  entity.masterItem.hsCode }}</div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group-label">
                            <label class="col-md-6 text-right">CD</label>
                            <div class="col-md-6 text-left">{{  entity.masterItem.customsDuty }}</div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group-label">
                            <label class="col-md-6 text-right">Catehory</label>
                            <div class="col-md-6 text-left">{% if entity.category %}{{  entity.category.name }}{% endif %}</div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group-label">
                            <label class="col-md-4 text-left">Description</label>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group-label">
                            <div class="col-md-12 text-left">{{  entity.content|raw }}</div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                {% if entity.itemKeyValues is not empty %}
                <div class="card-header grey-bg text-left">
                    <h5>Additional Information</h5>
                </div>
                <div class="clearfix"><br/></div>

                    {% for keyValue in entity.itemKeyValues %}
                        <div class="col-md-12" id="remove-{{ keyValue.id }}" style="margin-bottom: 5px">
                            <div class="row">
                                <div class="col-md-3 text-left">
                                    {{ keyValue.metaKey }}
                                </div>
                                <div class="col-md-3 text-left">
                                    {{ keyValue.metaValue }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                <div class="clearfix"><br/></div>
                {% endif %}
                <div class="clearfix"><br/></div>
                <div class="form-actions modal-form-action">
                    <div class="col-md-6 text-left">
                        <div class="btn-group" role="group">
                        <a href="{{ path('inventory_item_print',{'id':entity.id,'mode':'download'}) }}" target="_blank" class="btn btn-sm  green-bg white-font addmore"><i class="feather icon-download"></i> Download</a>
                        <a href="{{ path('inventory_item_print',{'id':entity.id,'mode':'print'}) }}" target="_blank" class="btn btn-sm  indigo-bg white-font addmore"><i class="feather icon-printer"></i> Print</a>
                        </div>
                    </div>
                    <div class="ol-md-6 text-right">

                        <div class="btn-group" role="group">
                            <a  class='btn green-bg white-font btn-sm' href='{{ path('inventory_item_edit',{'id':entity.id}) }}' ><i class='feather icon-edit'></i>Edit</a>
                        </div>
                    </div>
                    <div class="clearfix"><br/></div>
                </div>

        </div>
        </div>
    </div>
</div>
