{% extends 'admin/layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('inventory_item') }}"> {{ 'Manage Master Item'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Master Item'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('inventory_masteritem_create') }}" id="createForm"   data-action="" class="btn btn-sm  green-bg white-font"><i class="fa fa-plus"></i>{{ 'Add New'|trans }}</a>
                            <a href="{{ path('inventory_masteritem') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Master Item'|trans }}</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">

                    <table class="table table-striped table-bordered table-hover dataTable" id="entityDatatable">
                        <thead class="thead-dark">
                        <tr role="row" class="filter">
                            <td colspan="2">
                                <input  type="text" class="form-control  input-sm" name="hsCode" id="hsCode" placeholder="Enter HS Code">
                            </td>
                            <td>
                                <select class="form-control" name="groupName" id="groupName">
                                    <option value=""> -Product Group- </option>
                                    {% for productGroup in productGroups %}
                                        <option value="{{ productGroup.id }}">{{ productGroup.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <input  type="text" class="form-control  input-sm" name="category" id="category" placeholder="Category Name"> </td>
                            <td colspan="12">
                                <input  type="text" class="form-control  input-sm" name="name" id="name" placeholder="Item Name"> </td>
                        </tr>
                        <tr>
                            <th><i class="feather icon-list"></i></th>
                            <th>HS Code</th>
                            <th>Group</th>
                            <th>Category</th>
                            <th>Name </th>
                            <th>Unit</th>
                            <th>VAT</th>
                            <th>CD</th>
                            <th>SD</th>
                            <th>RD</th>
                            <th>AIT</th>
                            <th>AT</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <style>

    </style>
{% endblock %}
 {% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/inventory/masteritem/scripts.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/inventory/masteritem/ajax-pagination.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}

