{% extends 'admin/layout.html.twig' %}
{% block body_id 'inventory_item_new' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item">{{ 'Manage Product Item'|trans }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Item'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('inventory_masteritem_create') }}" id="createForm"   data-action="" class="btn btn-sm  green-bg white-font"><i class="fa fa-plus"></i>{{ 'New Item'|trans }}</a>
                            <a href="{{ path('inventory_masteritem') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Master Item'|trans }}</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-th-large"></i> {{ 'Create New Item'|trans }}</div>
                    </div>
                    <div class="portlet-body form">
                        <div class="row">
                            <div class="col-md-12" id="process-msg">
                                <div class="alert alert-success"></div>
                            </div>
                        </div>
                        <form action="{{ actionUrl }}"  method="post" class="form-horizontal" id="postForm">
                            <div class="row form-body">
                                <div class="form-inner">
                                    <div class="row">
                                        {#<div class="col-md-12">
                                            <div class="form-group">

                                                {{ form_label(form.supplyOutputTax, 'Supply - Output Tax', {'label_attr': {'class': 'col-md-2'}}) }}
                                                <div class="col-md-10">
                                                    {{ form_widget(form.supplyOutputTax) }}
                                                    {{ form_errors(form.supplyOutputTax) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                {{ form_label(form.inputTax, 'Supply - Input Tax(Local)', {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    {{ form_widget(form.inputTax) }}
                                                    {{ form_errors(form.inputTax) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">

                                                {{ form_label(form.inputImportTax, 'Supply - Input Tax(Import)', {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    {{ form_widget(form.inputImportTax) }}
                                                    {{ form_errors(form.inputImportTax) }}
                                                </div>
                                            </div>
                                        </div>#}
                                        <div class="col-md-12">
                                            {% if entity.hsCode is defined and  entity.hsCode is not empty %}
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" for="hsCode">{{ "HS Code"|trans }}</label>                                    <div class="col-md-10">
                                                        <select  class="select2-hscode-ajax" name="hsCode" id="hsCode">
                                                            <option selected="selected" value="{{ entity.hsCode }}">{{ entity.taxTariff.hsCode }}-{{ entity.taxTariff.name }}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <div class="form-group">
                                                    <label class="col-md-2 control-label" for="hsCode">{{ "HS Code"|trans }}</label>                                    <div class="col-md-10">
                                                        <select  class="select2-hscode-ajax" name="hsCode" id="hsCode"></select>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ form_label(form.productGroup, 'Product Group', {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                    {{ form_widget(form.productGroup) }}
                                                    {{ form_errors(form.productGroup) }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                {{ form_label(form.category, 'Category', {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    {{ form_widget(form.category) }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                {{ form_label(form.name, 'Item Name', {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                    {{ form_widget(form.name) }}
                                                    {{ form_errors(form.name) }}
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                {{ form_label(form.unit, 'Unit', {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    {{ form_widget(form.unit) }}
                                                    {{ form_errors(form.unit) }}
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                {{ form_label(form.priceMethod, 'Price Method', {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                    {{ form_widget(form.priceMethod) }}
                                                    {{ form_errors(form.priceMethod) }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                {{ form_label(form.content, 'Description', {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    {{ form_widget(form.content) }}
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                    {{ form_label(form.valueAddedTax, 'VAT(%)', {'label_attr': {'class': 'col-md-8'}}) }}
                                                    <div class="col-md-4">
                                                        {{ form_widget(form.valueAddedTax) }}
                                                    </div>
                                                    </div>
                                                </div>
                                                 <div class="col-md-6">
                                                    <div class="form-group">
                                                    {{ form_label(form.minValueAddedTax, 'Min VAT(%)', {'label_attr': {'class': 'col-md-8'}}) }}
                                                    <div class="col-md-4">
                                                        {{ form_widget(form.minValueAddedTax) }}
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        {{ form_label(form.customsDuty, 'Customs Duty(%)', {'label_attr': {'class': 'col-md-8'}}) }}
                                                        <div class="col-md-4">
                                                            {{ form_widget(form.customsDuty) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                    {{ form_label(form.supplementaryDuty, 'Supplementary Duty(%)', {'label_attr': {'class': 'col-md-8'}}) }}
                                                    <div class="col-md-4">
                                                        {{ form_widget(form.supplementaryDuty) }}
                                                    </div>
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        {{ form_label(form.regulatoryDuty, 'Regularity Duty(%)', {'label_attr': {'class': 'col-md-8'}}) }}
                                                        <div class="col-md-4">
                                                            {{ form_widget(form.regulatoryDuty) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                    {{ form_label(form.advanceIncomeTax, 'Advance Income Tax(%)', {'label_attr': {'class': 'col-md-8'}}) }}
                                                    <div class="col-md-4">
                                                        {{ form_widget(form.advanceIncomeTax) }}
                                                    </div>
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        {{ form_label(form.advanceTax, 'Advance Tax(%)', {'label_attr': {'class': 'col-md-8'}}) }}
                                                        <div class="col-md-4">
                                                            {{ form_widget(form.advanceTax) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6"></div>
                                            </div>
                                            {% if entity.vatItem is defined and entity.vatItem is not empty %}
                                                {% for value in entity.vatItem %}
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">{{ value.surcharge.name }}</label>
                                                        <div class="col-md-4">
                                                            <input type="hidden" name="vatId[]" id="vatId" value="{{ value.id }}" > <input type="hidden" name="surcharge[]" value="{{ value.surcharge.id }}">
                                                            <input type="number" min="0" name="amount[]" id="amount-{{ value.id }}" class="form-control amount action amount" placeholder="Value added" value="{{ value.amount }}" >
                                                        </div>
                                                        <div class="col-md-4">
                                                            <select name="mode[]" class="form-control">
                                                                <option {% if value.mode == 'percent' %} selected="selected" {% endif %} value="percent">Percent</option>
                                                                <option {% if value.mode == 'fixed' %} selected="selected" {% endif %} value="fixed">Fixed</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% else %}
                                                {% for value in surchargeItems %}
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">{{ value.name }}</label>
                                                        <div class="col-md-4">
                                                            <input type="hidden" name="vatId[]" id="vatId" value="" >
                                                            <input type="hidden" name="surcharge[]" value="{{ value.id }}">
                                                            <input type="number" min="0" name="amount[]" id="" class="form-control amount action amount" placeholder="amount" value="" >
                                                        </div>
                                                        <div class="col-md-4">
                                                            <select name="mode[]" class="form-control">
                                                                <option value="percent">Percent</option>
                                                                <option value="fixed">Fixed</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="card-header grey-bg inner-header">
                                        <h5>Additional Information</h5>
                                        <div class="card-header-right">
                                            <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                                                <button type="button" id="addrow"  class="btn btn-sm  green-bg white-font addmore"><i class="fas fa-plus"></i></button>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body card-body-inner">
                                        <div class="col-md-12 clone-block" id="clone-block">
                                            <div class="clone">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <input type="text" name="metaKey[]" id="metaKey" class="form-control form-control-sm" placeholder="Enter label name" value="">
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="input-group">
                                                            <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments">
                                                            <div class="input-group-append">
                                                                <div data-action="{{ path('core_vendor_create_ajax') }}" class="btn btn-sm btn-transparent red-font row-remove hidden">
                                                                    <i class="fa fa-remove"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% if entity.itemKeyValues is not empty %}
                                            {% for keyValue in entity.itemKeyValues %}
                                                <div class="col-md-12" id="remove-{{ keyValue.id }}" style="margin-bottom: 5px">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <input type="text" name="metaKey[]" id="metaKey" class="form-control form-control-sm" placeholder="Enter label name" value="{{ keyValue.metaKey }}">
                                                            <input type="hidden" name="attributeId[]"
                                                                   value="{{ keyValue.id }}">
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="input-group">
                                                                <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments" value="{{ keyValue.metaValue }}">
                                                                <div class="input-group-append">
                                                                    <div data-action="{{ path('inventory_purchase_delete_invoice_meta',{'meta':keyValue.id}) }}" class="btn  btn-sm btn-transparent red-font remove">
                                                                        <i class="fas fa-remove"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="form-actions right">
                                        <div class="col-md-12">
                                            <div class="btn-group" role="group" aria-label="Button group with nested">
                                                <button type="reset"  class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>{{ 'label.reset'|trans }}</button>
                                                {{ form_widget(form._token) }}
                                                {{ form_widget(form.SaveAndCreate, {label: 'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <style>
        .textarea{
            min-height: 60px!important;
        }
        select.form-control:not([size]):not([multiple]){
            height: 30px!important;
            line-height: 30px!important;
            padding: 0px 7px !important;
        }
    </style>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/inventory/masteritem/scripts.js') }}"></script>
{% endblock  %}
