{% extends 'admin/layout.html.twig' %}
{% block body %}

    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('inventory_purchase') }}"> {{ 'Purchase'|trans }}</a></li>
                        <li class="breadcrumb-item"> {{ 'Manage Local Purchase'|trans }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Purchase Invoice'|trans }}: {{ entity.invoice }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('inventory_purchase_create',{'mode':'local'}) }}" class="btn btn-sm  green-bg white-font"><i class="fa fa-plus"></i>{{ 'New Local'|trans }}</a><a href="{{ path('inventory_purchase_create',{'mode':'foreign'}) }}" class="btn btn-sm  indigo-bg white-font"><i class="fa fa-plus"></i>{{ 'New Foreign'|trans }}</a>
                            <a href="{{ path('inventory_purchase') }}" class="btn btn-sm  blue-bg white-font"><i class="fa fa-table"></i>{{ 'Purchase'|trans }}</a>
                            <span  data-placement="top" data-toggle="tooltip" title="" class="btn yellow-bg white-font" id="basic-addon1" data-original-title="{{ 'Button Related Instruction'|trans }}"> <i class="fa fa-question-circle"></i></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-th-large"></i> {{ 'Create New Purchase'|trans }}</div>
                    </div>
                    <div class="portlet-body form">
                        <div class="row">
                            <div class="col-md-12" id="process-msg">
                                <div class="alert alert-success"></div>
                            </div>
                        </div>
                        <form action="{{ actionUrl }}" novalidate="novalidate" method="post" class="form-horizontal" id="postForm" data-action="{{ dataAction }}" enctype="multipart/form-data">
                            <div class="row form-body">
                                <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group-label">
                                                    <label class="col-md-4 text-right">{{ 'Purchase Invoice'|trans }}</label>
                                                    <div class="col-md-8">{{  entity.invoice }}</div>
                                                </div>

                                                <div class="form-group input-group-select">
                                                    {{ form_label(form.vendor, 'Vendor Comapny'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                        <div class="input-group">
                                                            {{ form_widget(form.vendor) }}
                                                            {{ form_errors(form.vendor) }}
                                                            <div class="input-group-append">
                                                                <div data-action="{{ path('inventory_vendor_create_ajax',{'purchase':entity.id}) }}" class="input-group-text addVendor">
                                                                    <i class="feather icon-plus"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group-label">
                                                   <label class="col-md-4 text-right">{{ 'BIN/NID No.'|trans }}</label>
                                                    <div class="col-md-8" id="binNo">{% if entity.vendor is not empty %}{{  entity.vendor.binNo }}{% endif %}</div>
                                                </div>
                                                <div class="form-group-label">
                                                    <label class="col-md-4 text-right">{{ 'Mobile No'|trans }}</label>
                                                    <div class="col-md-8" id="vendorMobile">{% if entity.vendor is not empty %}{{  entity.vendor.mobile }}{% endif %}</div>
                                                </div>
                                                <div class="form-group-label">
                                                    <label class="col-md-4 text-right">{{ 'Address'|trans }}</label>
                                                    <div class="col-md-8" id="vendorAddress">{% if entity.vendor is not empty %}{{  entity.vendor.address }}{% endif %}</div>
                                                </div>

                                            </div>
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    {{ form_label(form.challanNo, 'Challan No'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                        <div class="input-group">
                                                            {{ form_widget(form.challanNo) }}
                                                            {{ form_errors(form.challanNo) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {{ form_label(form.receiveAddress, 'Receive Address'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <div class="input-group">
                                                            {{ form_widget(form.receiveAddress) }}
                                                            {{ form_errors(form.receiveAddress) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {{ form_label(form.receiveDate, 'Challan Date'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                        <div class="input-group" >
                                                        {{ form_widget(form.receiveDate) }}
                                                            <div class="input-group-append" >
                                                                <div class="input-group-text"><i class="feather icon-calendar" ></i></div>
                                                            </div>
                                                        </div>
                                                        {{ form_errors(form.receiveDate) }}
                                                    </div>
                                                </div>
                                               {# <div class="form-group">
                                                    {{ form_label(form.file, 'Attach File'|trans, {'label_attr': {'class': 'col-md-4'}}) }}  <div class="col-md-8">
                                                    <div class="custom-file">
                                                        {{ form_widget(form.file) }}
                                                        <label class="custom-file-label" for="purchase_local_form_file">Choose file</label>
                                                    </div>
                                                    </div>
                                                </div>#}
                                            </div>
                                        </div>
                                    <div class="card-header grey-bg inner-header">
                                        <h5>Add Items</h5>
                                    </div>
                                    <div class="clearfix"></div>
                                    {% if terminal.vatSlave.slug == 'standard-rated-goods' %}
                                    <div class="card-header grey-bg inner-header item-box">
                                        <div class="row">
                                            <div class="col-md-12">Item Name</div>
                                        </div>
                                        <div class="row" id="add-item">
                                            <div class="col-md-6 input-group select2-large select2-large input-group-select">
                                                <select name="product" style="width: 97%!important;" id="product" class="col-md-12 form-control select2 input">
                                                   <option value="">-- Select a product name --</option>
                                                    {% for product in products %}
                                                        <option value="{{ path('inventory_purchase_item_search',{'id':product.id}) }}">{{ product.hsCode }} -  {{ product.name }} ({{ product.hsName }})</option>
                                                    {% endfor %}
                                                </select>
                                                <div class="input-group-append">
                                                    <div data-action="{{ path('inventory_purchase_item_create_ajax',{'purchase':entity.id}) }}" id="addItem" class="input-group-text">
                                                        <i class="feather icon-plus"></i>
                                                    </div>
                                                </div>
                                                <input type="hidden" id="productId" name="productId">
                                            </div>
                                            <div class="col-md-6">
                                                <select data-action="{{ path('inventory_purchase_input_tax') }}" class="form-control form-control-lg input" id="purchaseInputTax" name="purchaseInputTax">
                                                    <option value="">--{{ "Choose a Purchase Input Tax"|trans }}--</option>
                                                    {% for tax in purchaseTaxes %}
                                                        <option value="{{ tax.id }}">{{ tax.noteNo }} - {{ tax.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                        </div>
                                        <div class="clearfix"><br/></div>
                                        <div class="row">
                                            <div class="col-md-6"></div>
                                            <div class="col-md-3">
                                                <div class="col-md-4">SD</div>
                                                <div class="col-md-6">VAT</div>
                                            </div>
                                            <div class="col-md-3">Price & Quantity</div>
                                        </div>
                                        <div class="row" id="add-item">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-2">
                                                <div class="input-group">
                                                    <span class="checkbox-line">VDS Applicable</span> <input type="checkbox" name="vdsApplicable" id="vdsApplicable"  class="checkboxToggle" data-toggle="toggle" data-style ="slow" data-offstyle = "warning" , data-onstyle = "info"  data-on="Yes" data-off="No" value=""  >

                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="input-group">
                                                    <span class="checkbox-line">Rebateable</span> <input type="checkbox" name="rebateApplicable" id="rebateApplicable"  class="checkboxToggle" checked="checked" data-toggle="toggle" data-style ="slow" data-offstyle = "warning" , data-onstyle = "info"  data-on="Yes" data-off="No" value="" >

                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="input-group">
                                                    <input type="number" class="form-control form-control-lg input col-md-4" placeholder="SD" id="supplementaryDuty" name="supplementaryDuty">
                                                    <div class="input-group-append col-md-8 vatProcess">
                                                        <input type="number" class="form-control form-control-lg " max="100" id="vatPercent" name="vatPercent" placeholder="VAT"  value="">
                                                        <button class="btn btn-warning" type="button">%</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="input-group">
                                                    <input type="number" class="form-control form-control-lg input" placeholder="Unit price" id="purchasePrice" name="purchasePrice">
                                                    <input type="number" class="form-control form-control-lg input" placeholder="Quantity" id="quantity" name="quantity">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-secondary" type="button" id="unit">Unit</button>
                                                        <button data-action="{{ path('inventory_create_purchase_item',{'id':entity.id}) }}" id="addLocalProduct" class="btn btn-primary" type="button">Add Item</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    {% else %}
                                    <div class="card-header grey-bg inner-header item-box">
                                        <div class="row">
                                            <div class="col-md-12">Item Name</div>
                                        </div>
                                        <div class="row" id="add-item">
                                            <div class="col-md-6 input-group select2-large select2-large input-group-select">
                                                <select name="product" style="width: 97%!important;" id="product" class="col-md-12 form-control select2 input">
                                                    <option value="">-- Select a product name --</option>
                                                    {% for product in products %}
                                                        <option value="{{ path('inventory_purchase_item_search',{'id':product.id}) }}">{{ product.hsCode }} -  {{ product.name }} ({{ product.hsName }})</option>
                                                    {% endfor %}
                                                </select>
                                                <div class="input-group-append">
                                                    <div data-action="{{ path('inventory_purchase_item_create_ajax',{'purchase':entity.id}) }}" id="addItem" class="input-group-text">
                                                        <i class="feather icon-plus"></i>
                                                    </div>
                                                </div>
                                                <input type="hidden" id="productId" name="productId">
                                            </div>
                                            <div class="col-md-6">
                                                <select data-action="{{ path('inventory_purchase_input_tax') }}" class="form-control form-control-lg input" id="purchaseInputTax" name="purchaseInputTax">
                                                    <option value="">--{{ "Choose a Purchase Input Tax"|trans }}--</option>
                                                    {% for tax in purchaseTaxes %}
                                                        <option value="{{ tax.id }}">{{ tax.noteNo }} - {{ tax.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                        </div>
                                        <div class="clearfix"><br/></div>
                                        <div class="row">
                                            <div class="col-md-6"></div>
                                            <div class="col-md-3">
                                                <div class="col-md-4">SD</div>
                                                <div class="col-md-6">VAT</div>
                                            </div>
                                            <div class="col-md-3">Price & Quantity</div>
                                        </div>
                                        <div class="row" id="add-item">
                                            <div class="col-md-4"></div>
                                            <div class="col-md-2">
                                                <div class="input-group">
                                                    <input type="hidden" id="rebateApplicable" name="rebateApplicable">
                                                    <span class="checkbox-line">VDS Applicable</span> <input type="checkbox" name="vdsApplicable" id="vdsApplicable"  class="checkboxToggle" data-toggle="toggle" data-style ="slow" data-offstyle = "warning" , data-onstyle = "info"  data-on="Yes" data-off="No" value=""  >

                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="input-group">
                                                    <input type="number" class="form-control form-control-lg input col-md-4" placeholder="SD" id="supplementaryDuty" name="supplementaryDuty">
                                                    <div class="input-group-append col-md-8 vatProcess">
                                                        <input type="number" class="form-control form-control-lg " max="100" id="vatPercent" name="vatPercent" placeholder="VAT"  value="">
                                                        <button class="btn btn-warning" type="button">%</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="input-group">
                                                    <input type="number" class="form-control form-control-lg input" placeholder="Unit price" id="purchasePrice" name="purchasePrice">
                                                    <input type="number" class="form-control form-control-lg input" placeholder="Quantity" id="quantity" name="quantity">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-secondary" type="button" id="unit">Unit</button>
                                                        <button data-action="{{ path('inventory_create_purchase_item',{'id':entity.id}) }}" id="addLocalProduct" class="btn btn-primary" type="button">Add Item</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    {% endif %}
                                    <div class="clearfix"></div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card-body card-body-inner">
                                                <table class="table table-bordered" id="item-table">
                                                    <thead class="thead-dark">
                                                    <tr>
                                                        <th class="text-center"><i class="feather icon-slack"></i> </th>
                                                        <th class="span3">Product Name</th>
                                                        <th>UoM</th>
                                                        <th class="span1 text-right">Quantity</th>
                                                        <th class="span1 text-right">Price</th>
                                                        <th class="text-right">SubTotal</th>
                                                        <th class="span1 text-right">SD</th>
                                                        <th class="span1 text-right">VAT(%)</th>
                                                        <th class="span1 text-right">VAT</th>
                                                        <th class="span1 text-right">TTI</th>
                                                        <th class="span1 text-center">VDS</th>
                                                        <th class="span1 text-center">Rebate</th>
                                                        <th class="text-right">Total</th>
                                                        <th class="text-center"><i class="feather icon-settings"></i> </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="invoiceItems">
                                                    {% set totalQuantity = 0 %}
                                                    {% set totalVat = 0 %}
                                                    {% set totalSubTotal = 0 %}
                                                    {% if entity.purchaseItems is defined and entity.purchaseItems is not empty %}
                                                        {% for item in entity.purchaseItems %}
                                                            {% set totalQuantity = totalQuantity + item.quantity  %}
                                                            {% set totalVat = totalVat + item.valueAddedTax  %}
                                                            {% set totalSubTotal = totalSubTotal + item.subTotal %}
                                                    <tr id="item-remove-{{ item.id }}">
                                                        <td class="text-center">{{ loop.index }}.</td>
                                                        <td>{{ item.name }}</td>
                                                        <td>
                                                           {% if item.item.unit is not empty %} {{ item.item.unit.name }}{% endif %}</td>
                                                        <td  class="text-right">
                                                            <input type="text" class="form-control amount quantity" data-id="{{ item.id }}"  min="1"  id="quantity-{{ item.id }}" name="quantity[]" value="{{ item.quantity }}" placeholder="{{ item.quantity }}">
                                                        </td>
                                                        <td  class="text-right">
                                                            <input type="text" name='purchasePrice' id="purchasePrice-{{ item.id }}" data-id="{{ item.id }}"  placeholder='{% if item.purchasePrice is not empty %}{{ item.purchasePrice|number_format(2) }} {% else %}Purchase Price{% endif %}' class="form-control  purchasePrice" value="{{ item.purchasePrice|number_format(2) }}"/>
                                                        </td>

                                                        <td  class="text-right">{{ item.subTotal|number_format(2) }}</td>
                                                        <td  class="text-right">{{ item.supplementaryDuty }}</td>

                                                        <td  class="text-right">{{ item.valueAddedTaxPercent }}</td>
                                                        <td  class="text-right">{{ item.valueAddedTax }}</td>
                                                        <td  class="text-right" id="vatTotal-{{ item.id }}">{{ item.totalTaxIncidence|number_format(2) }}</td>

                                                        <td  class="text-center">{% if item.vdsApplicable == 1  %}Yes{% else %}No{% endif %}</td>
                                                        <td  class="text-center">{% if item.rebateApplicable == 1  %}Yes{% else %}No{% endif %}</td>
                                                        <td  class="text-right" id="total-{{ item.id }}">{{ item.total|number_format(2) }}</td>
                                                        <td class="text-center">
                                                            <input type="hidden" id="purchaseQuantity-{{ item.id }}"  value="{{ item.quantity }}" >
                                                            <input type="hidden" id="salesQuantity-{{ item.id }}"  value="{{ item.salesQuantity }}" >
                                                            <input type="hidden" id="vatPercent-{{ item.id }}"  value="{{ item.valueAddedTaxPercent }}" >
                                                            <button  type="button" class="btn btn-sm btn-transparent red-font item-remove" data-action="{{ path('inventory_purchase_item_delete',{'invoice':entity.id,'item':item.id}) }}" ><i class="fas fa-remove" data-id="{{ item.id }}" aria-hidden="true"></i></button>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                    <tfoot>
                                                        <tr class="tfoot-grand-total">
                                                    <th colspan="3" class="text-right">Total</th>
                                                        <th class="text-right" id="invoiceQuantity">{{ totalQuantity|number_format }}</th>
                                                        <th class="text-right"></th>
                                                        <th class="text-right" id="invoiceSubTotal">{{ totalSubTotal|number_format(2) }}</th>
                                                        <th class="text-right" id="invoiceSD">{{ entity.supplementaryDuty|number_format(2) }}</th>
                                                        <th class="text-right"> </th>
                                                        <th class="text-right" id="invoiceVAT">{{ entity.valueAddedTax|number_format(2) }}</th>
                                                        <th class="text-right" id="invoiceTTI">{{ entity.totalTaxIncidence|number_format(2) }}</th>
                                                        <th></th><th></th><th class="text-right" id="invoiceTotal">{{ (entity.total)|number_format(2) }}</th><th></th>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="14">
                                                            <div class="row"><div class="clearfix"><br/></div></div>
                                                            <div class="col-md-12">
                                                                <div class="card-header gray-bg inner-header">
                                                                    <h5>Payment Information</h5>
                                                                </div>
                                                            </div>
                                                            <div class="row"><div class="clearfix"><br/></div></div>
                                                            <div class="row">
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    {{ form_label(form.assignPerson, 'Issue Person'|trans, {'label_attr': {'class': 'col-md-3'}}) }}

                                                                    <div class="col-md-9">
                                                                        <div class="input-group">
                                                                            {{ form_widget(form.assignPerson) }}
                                                                            {{ form_errors(form.assignPerson) }}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    {{ form_label(form.assignPersonDesignation, 'Designation'|trans, {'label_attr': {'class': 'col-md-3'}}) }}

                                                                    <div class="col-md-9">
                                                                        <div class="input-group">
                                                                            {{ form_widget(form.assignPersonDesignation) }}
                                                                            {{ form_errors(form.assignPersonDesignation) }}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    {{ form_label(form.narration, 'Narration'|trans, {'label_attr': {'class': 'col-md-3'}}) }}

                                                                    <div class="col-md-9">
                                                                        <div class="input-group">
                                                                            {{ form_widget(form.narration) }}
                                                                            {{ form_errors(form.narration) }}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    {{ form_label(form.transactionMethod, 'Method'|trans, {'label_attr': {'class': 'col-md-3'}}) }}
                                                                    <div class="col-md-9">
                                                                        <div class="input-group">
                                                                            {{ form_widget(form.transactionMethod) }}
                                                                            {{ form_errors(form.transactionMethod) }}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div id="mobileBankHide" >
                                                                    <div class="form-group bank-hide {% if entity.transactionMethod == 'bank' %}show-method{% endif %}" >
                                                                        {{ form_label(form.accountBank, 'Account Bank'|trans, {'label_attr': {'class': 'col-md-3'}}) }}
                                                                        <div class="col-md-9">
                                                                            <div class="input-group" >
                                                                                {{ form_widget(form.accountBank) }}
                                                                                {{ form_errors(form.accountBank) }}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="clearfix clearfix-margin-bottom"></div>

                                                                    <div class="form-group bank-hide {% if entity.transactionMethod == 'bank' %}show-method{% endif %}" >
                                                                        {{ form_label(form.chequeNo, 'Cheque No'|trans, {'label_attr': {'class': 'col-md-3'}}) }}
                                                                        <div class="col-md-9">
                                                                            <div class="input-group" >
                                                                                {{ form_widget(form.chequeNo) }}
                                                                                {{ form_errors(form.chequeNo) }}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="clearfix clearfix-margin-bottom"></div>

                                                                    <div class="form-group bank-hide {% if entity.transactionMethod == 'bank' %}show-method{% endif %}" >
                                                                        {{ form_label(form.chequeDate, 'Cheque Date'|trans, {'label_attr': {'class': 'col-md-3'}}) }}
                                                                        <div class="col-md-9">
                                                                            <div class="input-group" >
                                                                                {{ form_widget(form.chequeDate) }}
                                                                                {{ form_errors(form.chequeDate) }}
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group mobile-hide {% if entity.transactionMethod == 'mobile' %}show-method{% endif %}" >
                                                                        {{ form_label(form.accountMobile, 'Account  Mobile'|trans, {'label_attr': {'class': 'col-md-3'}}) }}
                                                                        <div class="col-md-9">
                                                                            <div class="input-group" >
                                                                                {{ form_widget(form.accountMobile) }}
                                                                                {{ form_errors(form.accountMobile) }}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="clearfix clearfix-margin-bottom"></div>

                                                                    <div class="form-group mobile-hide {% if entity.transactionMethod == 'mobile' %}show-method{% endif %}" >
                                                                        {{ form_label(form.trxId, 'Transaction ID'|trans, {'label_attr': {'class': 'col-md-3'}}) }}
                                                                        <div class="col-md-9">
                                                                            <div class="input-group" >
                                                                                {{ form_widget(form.trxId) }}
                                                                                {{ form_errors(form.trxId) }}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="clearfix clearfix-margin-bottom"></div>

                                                                    <div class="form-group mobile-hide {% if entity.transactionMethod == 'mobile' %}show-method{% endif %}" >
                                                                        {{ form_label(form.trxDate, 'Date'|trans, {'label_attr': {'class': 'col-md-3'}}) }}
                                                                        <div class="col-md-9">
                                                                            <div class="input-group" >
                                                                                {{ form_widget(form.trxDate) }}
                                                                                {{ form_errors(form.trxDate) }}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4">

                                                                <div class="form-group">
                                                                    {{ form_label(form.discountMode, 'Discount Mode'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                                    <div class="col-md-6">
                                                                        <div class="input-group" >
                                                                            {{ form_widget(form.discountMode) }}
                                                                            {{ form_errors(form.discountMode) }}
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    {{ form_label(form.discountCalculation, 'Discount BDT'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                                    <div class="col-md-3">
                                                                        <div class="input-group" >
                                                                            {{ form_widget(form.discountCalculation) }}
                                                                            {{ form_errors(form.discountCalculation) }}
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <span class="input-line-text" id="discount">{{ entity.discount }}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group-label">
                                                                    <label class="col-md-6 text-right">NetTotal</label>
                                                                    <div class="col-md-3">&nbsp;</div>
                                                                    <div class="col-md-3" id="netTotal"> {{ entity.netTotal }}</div></div>
                                                                <div class="clearfix clearfix-margin-bottom"></div>

                                                                <div class="form-group">
                                                                    {{ form_label(form.payment, 'Payable'|trans, {'label_attr': {'class': 'col-md-6'}}) }}

                                                                    <div class="col-md-3">
                                                                        <div class="input-group">
                                                                            {{ form_widget(form.payment) }}
                                                                            {{ form_errors(form.payment) }}
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <span class="input-line-text" id="duable">{{ entity.due }}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    {{ form_label(form.process, 'Process'|trans, {'label_attr': {'class': 'col-md-6'}}) }}

                                                                    <div class="col-md-6">
                                                                        <div class="input-group">
                                                                            {{ form_widget(form.process) }}
                                                                            {{ form_errors(form.process) }}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        </td>
                                                    </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-header grey-bg inner-header">
                                        <h5>Additional Information</h5>
                                        <div class="card-header-right">
                                            <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                                                <button type="button" id="addrow"  class="btn btn-sm  green-bg white-font addmore"><i class="fas fa-plus"></i></button>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body card-body-inner">
                                        <div class="col-md-12 clone-block" id="clone-block">
                                            <div class="clone">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <input type="text" name="metaKey[]" id="metaKey" class="form-control form-control-sm" placeholder="Enter label name" value="">
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="input-group">
                                                            <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments">
                                                            <div class="input-group-append">
                                                                <div data-action="{{ path('core_vendor_create_ajax') }}" class="btn btn-sm btn-transparent red-font row-remove hidden">
                                                                    <i class="fa fa-remove"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% if entity.invoiceKeyValues is not empty %}
                                            {% for keyValue in entity.invoiceKeyValues %}
                                                <div class="col-md-12" id="remove-{{ keyValue.id }}" style="margin-bottom: 5px">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <input type="text" name="metaKey[]" id="metaKey" class="form-control form-control-sm" placeholder="Enter label name" value="{{ keyValue.metaKey }}">
                                                            <input type="hidden" name="attributeId[]"
                                                                   value="{{ keyValue.id }}">
                                                            <input type="hidden" id="metaId" name="metaId" value="{{  keyValue.id }}">
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="input-group">
                                                                <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments" value="{{ keyValue.metaValue }}">
                                                                <div class="input-group-append">
                                                                    <div data-action="{{ path('inventory_purchase_delete_invoice_meta',{'meta':keyValue.id}) }}" class="btn  btn-sm btn-transparent red-font remove">
                                                                        <i class="fas fa-remove"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="form-actions">
                                        <div class="col-md-6 text-left">
                                            <div class="btn-group btn-group-sm">
                                            <a href="{{ path('inventory_purchase_preview',{'id':entity.id,'mode':'pdf'}) }}" target="_blank"  class="btn btn-sm  green-bg white-font addmore"><i class="feather icon-download"></i> Download</a>
                                            <a href="{{ path('inventory_purchase_preview',{'id':entity.id,'mode':'print'}) }}"  target="_blank"  class="btn btn-sm  indigo-bg white-font addmore"><i class="feather icon-printer"></i> Print</a>
                                            <a href="{{ path('nbrvat_report_mushuk_6_3_print',{'id':entity.id,'mode':'mushok'}) }}"  target="_blank"  class="btn btn-sm  blue-bg white-font addmore"><i class="feather icon-share"></i> Mushok 6.3</a></div>
                                        </div>
                                        <div class="ol-md-6 text-right">
                                            {{ form_widget(form._token) }}
                                            <input type="hidden" name="paymentTotal" id="paymentTotal" value="{{ entity.netTotal }}">
                                            <input type="hidden" id="purchaseId" name="purchaseId" value="{{ entity.id }}">
                                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                                <button type="reset"  class="btn btn-sm yellow-bg white-font"><i class="fa fa-recycle"></i>{{ 'label.reset'|trans }}</button>
                                                {{ form_widget(form.SaveAndCreate, {label: 'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>

{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/inventory/purchase/scripts.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}

    $(document).on('click',"#addItem", function (event) {

    var url = $(this).attr('data-action');
    $.MessageBox({
    message: "<b>ADD Product</b>",
    buttonDone: {
    save: {
    text: "Save",
    customClass: "custom_button",
    keyCode: 13
    }
    },
    buttonFail: "Cancel",
    input: {
    productGroup: {
    type: "select",
    label: "Product Group",
    title: "Select a Product Group",
    options: [{% for product in  productGroups  %}"{{ product.name }}" {% if not loop.last %},{% endif %}{% endfor %}]
    },
    masterItem: {
    type: "text",
    label: "Msater Item",
    title: "Enter Master Item Name"
    },
    hsCode: {
    type: "text",
    label: "Enter HS Code",
    title: "Enter HS Coode"
    },
    name: {
    type: "text",
    label: "Item Name",
    title: "Enter Item Name"
    },
    purchasePrice: {
    type: "text",
    label: "Prurchase Price",
    title: "Enter Purchase Price"
    },
    unit: {
    type: "select",
    label: "Product Unit",
    title: "Select a Product Unit",
    options: [{% for unit in  units  %}"{{ unit.name }}" {% if not loop.last %},{% endif %}{% endfor %}]
    }
    },
    filterDone: function (data) {
    if (data['productGroup'] === null) return "The product group field is required";
    if (data['masterItem'] === "") return "The master item field is required";
    if (data['name'] === "") return "The product name field is required";
    if (data['purchasePrice'] === "") return "Purchase price field is required";
    if (data['unit'] === "") return "The product unit field is required";
    return $.ajax({
    url: url,
    type: "post",
    data: data
    }).done(function (data) {
    if (data === 'invalid') {
    $.MessageBox("This item name already exist, Please try another item name");
    } else {
    location.reload();
    }
    })
    }
    })
    });

{% endblock %}
