{% extends 'admin/layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('inventory_sales_return') }}"> {{ 'Manage Credit Note'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Credit Note Invoice'|trans }}: {{ entity.invoice }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('inventory_sales_return_create',{'mode':'local'}) }}" class="btn btn-sm  green-bg white-font"><i class="fa fa-plus"></i>{{ 'New Local'|trans }}</a>
                            <a href="{{ path('inventory_sales_return_create',{'mode':'foreign'}) }}" class="btn btn-sm  indigo-bg white-font"><i class="fa fa-plus"></i>{{ 'New Export'|trans }}</a>
                            <a href="{{ path('inventory_sales_return') }}" class="btn btn-sm  blue-bg white-font"><i class="fa fa-table"></i>{{ 'Credit Note'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-th-large"></i> {{ 'Credit Note'|trans }}</div>
                    </div>
                    <div class="portlet-body form">

                        <form action="{{ actionUrl }}" method="post" class="form-horizontal" id="postForm" data-action="{{ dataAction }}" enctype="multipart/form-data">
                            <div class="row form-body">
                                <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group-label">
                                                    <label class="col-md-4 text-right">{{ 'Credit Invoice'|trans }}</label>
                                                    <div class="col-md-8">{{  entity.invoice }}</div>
                                                </div>
                                                {% if entity.sales is not empty and entity.salesReturnItems is not empty %}
                                                <div class="form-group-label">
                                                    <label class="col-md-4 text-right">{{ 'Sales Invoice'|trans }}</label>
                                                    <div class="col-md-8">{% if entity.sales is not empty %}{{  entity.sales.invoice }}{% endif %}
                                                        <input type="hidden" name="salesId" id="salesId" value="{{ entity.sales.id }}">
                                                    </div>
                                                </div>
                                                {% else %}
                                                <div class="form-group">
                                                    {{ form_label(form.sales,"Sales Invoice"|trans, {'label_attr': {'class': 'required col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                        <div class="input-group">
                                                            {{ form_widget(form.sales) }}
                                                            {{ form_errors(form.sales) }}
                                                            <input type="hidden" name="salesId" id="salesId" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                                <div class="form-group-label">
                                                    <label class="col-md-4 text-right">{{ 'Customer Info.'|trans }}</label>
                                                    <div class="col-md-8" id="companyName">{% if entity.sales is not empty and  entity.sales.customer is not empty %}{{  entity.sales.customer.companyName }}{% endif %}</div>
                                                </div>

                                                <div class="form-group-label">
                                                    <label class="col-md-4 text-right">{{ 'BIN/NID No.'|trans }}</label>
                                                    <div class="col-md-8" id="binNo">{% if entity.sales is not empty and entity.sales.customer is not empty %}{{  entity.sales.customer.binNo }}{% endif %}</div>
                                                </div>
                                                <div class="form-group-label">
                                                    <label class="col-md-4 text-right">{{ 'Mobile'|trans }}</label>
                                                    <div class="col-md-8" id="customerMobile">{% if entity.sales is not empty and  entity.sales.customer is not empty %}{{  entity.sales.customer.mobile }}{% endif %}</div>
                                                </div>
                                                <div class="form-group-label">
                                                    <label class="col-md-4 text-right">{{ 'Address'|trans }}</label>
                                                    <div class="col-md-8" id="customerAddress">{% if entity.sales is not empty and entity.sales.customer is not empty %}{{  entity.sales.customer.address }}{% endif %}</div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                {% if entity.sales is not empty %}
                                                <div class="form-group-list">
                                                    <label class="col-md-4 text-right">Bill of Entry No</label>
                                                    <div class="col-md-8">{{  entity.sales.billOfEntryNo }}</div>
                                                </div>
                                                <div class="form-group-list">
                                                    <label class="col-md-4 text-right">Bill of Entry Date</label>
                                                    <div class="col-md-8" id="binNo">{{ entity.sales.billOfEntryDate|date('d-m-Y') }}</div>
                                                </div>
                                                <div class="form-group-list">
                                                    <label class="col-md-4 text-right">LC No/Date</label>
                                                    <div class="col-md-8" id="binNo">{{ entity.sales.lcNo }}/{{ entity.sales.lcDate|date('d-m-Y') }}</div>
                                                </div>
                                                <div class="form-group-list">
                                                    <label class="col-md-4 text-right">Customs House</label>
                                                    <div class="col-md-8" id="binNo">{% if entity.sales.customsHouse is not empty %}{{ entity.sales.customsHouse.name }}{% endif %}</div>
                                                </div>
                                                {% endif %}
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    {{ form_label(form.issueDate,"Issue Date"|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                        <div class="input-group" >
                                                        {{ form_widget(form.issueDate) }}
                                                            <div class="input-group-append" >
                                                                <div class="input-group-text"><i class="feather icon-calendar" ></i></div>
                                                            </div>
                                                        </div>
                                                        {{ form_errors(form.issueDate) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {{ form_label(form.issueTime,"Issue Time."|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                        <div class="input-group date" data-provide="timepicker">
                                                            {{ form_widget(form.issueTime) }}
                                                            {{ form_errors(form.issueTime) }}
                                                            <div class="input-group-append" >
                                                                <div class="input-group-text"><i class="feather icon-clock" ></i></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {{ form_label(form.file, 'Attch File', {'label_attr': {'class': 'col-md-4'}}) }}  <div class="col-md-8">
                                                    <div class="custom-file">
                                                        {{ form_widget(form.file) }}
                                                        <label class="custom-file-label" for="sales_local_form_file">{{ 'Choose File'|trans }}</label>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="row">
                                        {{ form_label(form.narration,"Credit Reason"|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                        <div class="col-md-10">
                                            <span class="not-blank"> {{ 'Required'|trans }}</span>
                                            <div class="input-group">
                                                {{ form_widget(form.narration) }}
                                                {{ form_errors(form.narration) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"><br/></div>
                                    <div class="card-header grey-bg inner-header">
                                        <h5>{{ 'Item Lists'|trans }}</h5>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card-body card-body-inner">
                                                <table class="table table-bordered" id="item-table">
                                                    <thead class="thead-dark">
                                                    <tr>
                                                        <th class="text-center"><i class="feather icon-slack"></i> </th>
                                                        <th class="span3">Product Name</th>
                                                        <th>UoM</th>
                                                        <th class="span1 text-right">Quantity</th>
                                                        <th class="span1 text-right">ReturnQnt</th>
                                                        <th class="span1 text-right">Remain.Qnt</th>
                                                        <th class="span1 text-right">Price</th>
                                                        <th class="text-right">SubTotal</th>
                                                        <th class="span1 text-right">SD(%)</th>
                                                        <th class="span1 text-right">SD</th>
                                                        <th class="span1 text-right">Vat(%)</th>
                                                        <th class="span1 text-right">Vat</th>
                                                        <th class="span1 text-right">TTI</th>
                                                        <th class="text-right">Total</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="invoiceItems">
                                                    {% set totalQuantity = 0 %}
                                                    {% set totalVat = 0 %}
                                                    {% set totalSubTotal = 0 %}
                                                    {% if entity.sales.salesItems is defined and entity.sales.salesItems is not empty %}
                                                        {% for item in entity.sales.salesItems %}
                                                            {% set totalQuantity = totalQuantity + item.quantity  %}
                                                            {% set totalVat = totalVat + item.valueAddedTax  %}
                                                            {% set totalSubTotal = totalSubTotal + item.subTotal %}
                                                            <tr id="item-remove-{{ item.id }}">
                                                                <td class="text-center">{{ loop.index }}.</td>
                                                                <td>{{ item.name }}</td>
                                                                <td>
                                                                    {% if item.masterItem.unit is not empty %} {{ item.masterItem.unit.name }}{% endif %}</td>
                                                                <td  class="text-right">
                                                                    {{ item.totalQuantity }}
                                                                </td>
                                                                <td  class="text-right">
                                                                    <input type="text" class="form-control quantity" data-id="{{ item.id }}"  min="1"  id="quantity-{{ item.id }}" name="quantity[]" value="{% if returnItems is not empty and returnItems[item.id] is defined and returnItems[item.id] is not empty %}{{ returnItems[item.id].quantity }} {% endif %}" placeholder="Return qnt" max="{{ item.remainingQuantity }}">
                                                                    <input type="hidden" name="salesItemId[]" value="{{ item.id }}">
                                                                    <input type="hidden" name="returnItemId" value="{% if returnItems is not empty and returnItems[item.id] is defined and returnItems[item.id] is not empty %}{{ returnItems[item.id].id }} {% endif %}">
                                                                </td>
                                                                <td  class="text-right">
                                                                    {{ item.remainingQuantity }}
                                                                </td>
                                                                <td  class="text-right">
                                                                    {{ item.salesPrice|number_format(2) }}
                                                                </td>
                                                                <td  class="text-right">{% if returnItems is not empty and returnItems[item.id] is defined and returnItems[item.id] is not empty %}{{ returnItems[item.id].subTotal|number_format(2) }} {% endif %}</td>
                                                                <td  class="text-right">{% if returnItems is not empty and returnItems[item.id] is defined and returnItems[item.id] is not empty %}{{ returnItems[item.id].supplementaryDutyPercent }} {% endif %}</td>
                                                                <td  class="text-right">{% if returnItems is not empty and returnItems[item.id] is defined and returnItems[item.id] is not empty %}{{ returnItems[item.id].supplementaryDuty }} {% endif %}</td>
                                                                <td  class="text-right">{% if returnItems is not empty and returnItems[item.id] is defined and returnItems[item.id] is not empty %}{{ returnItems[item.id].valueAddedTaxPercent }} {% endif %}</td>
                                                                <td  class="text-right">{% if returnItems is not empty and returnItems[item.id] is defined and returnItems[item.id] is not empty %}{{ returnItems[item.id].valueAddedTax }} {% endif %}</td>
                                                                <td  class="text-right">{% if returnItems is not empty and returnItems[item.id] is defined and returnItems[item.id] is not empty %}{{ returnItems[item.id].totalTaxIncidence }} {% endif %}</td>
                                                                <td  class="text-right">{% if returnItems is not empty and returnItems[item.id] is defined and returnItems[item.id] is not empty %}{{ returnItems[item.id].total }} {% endif %}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                    <tfoot>
                                                    <th colspan="3" class="text-right">Total</th><th class="text-right"></th><th class="text-right">{{ entity.quantity }}</th><th class="text-right"></th><th class="text-right"></th><th class="text-right" id="subTotal">{{ entity.subTotal|number_format(2) }}</th><th class="text-right"> </th><th class="text-right" id="totalVat">{{ entity.supplementaryDuty|number_format(2) }}</th><th class="text-right"> </th><th class="text-right" id="totalVat">{{ entity.valueAddedTax|number_format(2) }}</th><th class="text-right" id="totalVat">{{ entity.totalTaxIncidence|number_format(2) }}</th><th class="text-right" id="total">{{ (entity.total)|number_format(2) }}</th><th></th>
                                                    <tr>
                                                        <th colspan="7" class="text-right">Issue Person & Designation</th>
                                                        <td class="text-left" colspan="3">{{ form_widget(form.issuePerson) }}</td>
                                                        <td  class="text-right" colspan="5">{{ form_widget(form.issueDesignation) }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="10" class="text-right">Narration</th>

                                                        <td  class="text-right" colspan="5">{{ form_widget(form.process) }}</td>
                                                    </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="form-actions">
                                        <div class="col-md-6 text-left">
                                            <div class="btn-group" role="group">
                                            <a href="{{ path('inventory_sales_preview',{'id':entity.id,'mode':'pdf'}) }}" target="_blank"  class="btn btn-sm  green-bg white-font addmore"><i class="feather icon-download"></i> Download</a>
                                            <a href="{{ path('inventory_sales_preview',{'id':entity.id,'mode':'print'}) }}"  target="_blank"  class="btn btn-sm  indigo-bg white-font addmore"><i class="feather icon-printer"></i> Print</a>
                                                <a href="{{ path('inventory_sales_preview',{'id':entity.id,'mode':'mushok'}) }}"  target="_blank"  class="btn btn-sm  blue-bg white-font addmore"><i class="feather icon-share"></i> Challan</a></div>
                                        </div>
                                        <div class="ol-md-6 text-right">
                                            {{ form_widget(form._token) }}
                                            <div class="btn-group" role="group">
                                                <button type="reset"  class="btn btn-sm yellow-bg white-font"><i class="fa fa-recycle"></i>{{ 'label.reset'|trans }}</button>
                                                {{ form_widget(form.SaveAndCreate, {label: 'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/inventory/sales-return/scripts.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
