{% extends 'admin/layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item">{{ 'Manage Purchase'|trans }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Purchase'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('inventory_purchase_create',{'mode':'local'}) }}" class="btn btn-sm  green-bg white-font"><i class="fa fa-plus"></i>{{ 'New Local'|trans }}</a><a href="{{ path('inventory_purchase_create',{'mode':'foreign'}) }}" class="btn btn-sm  indigo-bg white-font"><i class="fa fa-plus"></i>{{ 'New Foreign'|trans }}</a>
                            <span  data-placement="top" data-toggle="tooltip" title="" class="btn yellow-bg white-font" id="basic-addon1" data-original-title="{{ 'Button Related Instruction'|trans }}"> <i class="fa fa-question-circle"></i></span>

                        </div>

                        <div class="btn-group card-option">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-original-title="" title="">
                                <i class="fas fa-ellipsis-v"></i>
                            </button>
                            <div class="list-unstyled dropdown-info card-option dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                <a id="excelBtn" class="dropdown-item" href="javascript:"> <i class="far fa-file-excel"></i> Excel</a>
                                <a id="pdfBtn" class="dropdown-item" href="javascript:"> <i class="far fa-file-pdf"></i> PDF</a>
                                <a id="printBtn" class="dropdown-item" href="javascript:"> <i class="fa fa-print" aria-hidden="true"></i> Print</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">

                    <table class="table table-striped table-bordered table-hover dataTable" id="entityDatatable">
                        <thead class="thead-dark">
                        <tr role="row" class="filter">
                            <td colspan="2">
                                <input  type="text" class="form-control  input-sm dateCalendar col-md-9" name="startDate" id="startDate" placeholder="Start Date">
                            </td>
                            <td>
                                <input  type="text" class="form-control  input-sm dateCalendar col-md-9" name="endDate" id="endDate" placeholder="End Date">
                            </td>
                            <td>
                                <input  type="text" class="form-control  input-sm" name="invoice" id="invoice" placeholder="Invoice no">
                            </td>
                            <td>
                                <select class="form-control" name="vendor" id="vendor">
                                    <option value=""> -Vendor Company- </option>
                                    {% for vendor in vendors %}
                                        <option value="{{ vendor.id }}">{{ vendor.companyName }}</option>
                                    {% endfor %}
                                </select>
                             </td>

                            <td>
                                <select class="form-control" name="method" id="method">
                                    {% set methods = ['cash','bank','mobile'] %}
                                    <option value=""> -Method- </option>
                                    {% for method in methods %}
                                        <option value="{{ method }}">{{ method|capitalize }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>
                                <select class="form-control" name="discountType" id="discountType">
                                    {% set methods = ['flat','percent'] %}
                                    <option value=""> -Discount- </option>
                                    {% for method in methods %}
                                        <option value="{{ method }}">{{ method|capitalize }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>
                                <select class="form-control" name="mode" id="mode">
                                    {% set methods = ['local','foreign'] %}
                                    <option value=""> -Mode- </option>
                                    {% for method in methods %}
                                        <option value="{{ method }}">{{ method|capitalize }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td colspan="2">
                                <select class="form-control" name="process" id="process">
                                    {% set methods = ['created','in-progress','hold','done'] %}
                                    <option value=""> -Process- </option>
                                    {% for method in methods %}
                                        <option value="{{ method }}">{{ method|capitalize }}</option>
                                    {% endfor %}
                                </select>
                            </td>

                        <tr>
                            <th><i class="feather icon-list"></i></th>
                            <th>Created</th>
                            <th>Received</th>
                            <th>Invoice</th>
                            <th>Vendor</th>
                            <th>Method</th>
                            <th>SubTotal</th>
                            <th>Discount</th>
                            <th>Dis.Type</th>
                            <th>TTI</th>
                            <th>Total</th>
                            <th>Payment</th>
                            <th>Due</th>
                            <th>Mode</th>
                            <th>Process</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/inventory/purchase/scripts.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/inventory/purchase/ajax-pagination.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}

