{% extends 'admin/layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('inventory_purchase_return') }}"> {{ 'Manage Debit Note'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Debit Note Invoice'|trans }}: {{ entity.invoice }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('inventory_purchase_return_create',{'mode':'local'}) }}" class="btn btn-sm  green-bg white-font"><i class="fa fa-plus"></i>{{ 'New Debit Note'|trans }}</a>
                            <a href="{{ path('inventory_purchase_return') }}" class="btn btn-sm  blue-bg white-font"><i class="fa fa-table"></i>{{ 'Debit Note'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-th-large"></i> {{ 'Debit Note'|trans }}</div>
                    </div>
                    <div class="portlet-body form">

                        <form action="{{ actionUrl }}" method="post" class="form-horizontal" id="postForm" data-action="{{ dataAction }}" enctype="multipart/form-data">
                            <div class="row form-body">
                                <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group-label">
                                                    <label class="col-md-4 text-right">{{ 'Debit Invoice'|trans }}</label>
                                                    <div class="col-md-8">{{  entity.invoice }}</div>
                                                </div>
                                                {% if entity.purchase is not empty and entity.returnItems is not empty %}
                                                <div class="form-group-label">
                                                    <label class="col-md-4 text-right">{{ 'Purchase Invoice'|trans }}</label>
                                                    <div class="col-md-8">{% if entity.purchase is not empty %}{{  entity.purchase.invoice }}{% endif %}
                                                        <input type="hidden" name="purchaseInvoiceId" id="purchaseInvoiceId" value="{{ entity.purchase.id }}">
                                                    </div>
                                                </div>

                                                {% else %}
                                                <div class="form-group">
                                                    {{ form_label(form.purchase,"Purchase Challan"|trans, {'label_attr': {'class': 'required col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                        <div class="input-group">
                                                            {{ form_widget(form.purchase) }}
                                                            {{ form_errors(form.purchase) }}
                                                            <input type="hidden" name="purchaseInvoiceId" id="purchaseInvoiceId" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                                <div class="form-group-label">
                                                    <label class="col-md-4 text-right">{{ 'Vendor/Company'|trans }}</label>
                                                    <div class="col-md-8" id="companyName">{% if entity.purchase is not empty and  entity.purchase.vendor is not empty %}{{  entity.purchase.vendor.companyName }}{% endif %}</div>
                                                </div>

                                                <div class="form-group-label">
                                                    <label class="col-md-4 text-right">{{ 'BIN/NID No.'|trans }}</label>
                                                    <div class="col-md-8" id="binNo">{% if entity.purchase is not empty and entity.purchase.vendor is not empty %}{{  entity.purchase.vendor.binNo }}{% endif %}</div>
                                                </div>
                                                <div class="form-group-label">
                                                    <label class="col-md-4 text-right">{{ 'Mobile'|trans }}</label>
                                                    <div class="col-md-8" id="vendorMobile">{% if entity.purchase is not empty and  entity.purchase.vendor is not empty %}{{  entity.purchase.vendor.mobile }}{% endif %}</div>
                                                </div>
                                                <div class="form-group-label">
                                                    <label class="col-md-4 text-right">{{ 'Address'|trans }}</label>
                                                    <div class="col-md-8" id="vendorAddress">{% if entity.purchase is not empty and entity.purchase.vendor is not empty %}{{  entity.purchase.vendor.address }}{% endif %}</div>
                                                </div>
                                            </div>
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4">
                                                <div class="form-group-label">
                                                    <label class="col-md-4 text-right">{{ 'Issue Date'|trans }}</label>
                                                    <div class="col-md-8" id="">{{  entity.updated|date('d-m-Y') }}</div>
                                                </div>
                                                <div class="clearfix"><br/></div>
                                                <div class="form-group-label">
                                                <label class="col-md-4 text-right">{{ 'Issue Time'|trans }}</label>
                                                <div class="col-md-8" id="">{{  entity.updated|date('h:m a') }}</div>
                                                </div>
                                                <div class="clearfix"><br/></div>
                                                <div class="form-group">
                                                    {{ form_label(form.file, 'Attch File', {'label_attr': {'class': 'col-md-4'}}) }}  <div class="col-md-8">
                                                    <div class="custom-file">
                                                        {{ form_widget(form.file) }}
                                                        <label class="custom-file-label" for="purchase_local_form_file">{{ 'Choose File'|trans }}</label>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="row">
                                        {{ form_label(form.narration,"Debit Reason"|trans, {'label_attr': {'class': 'col-md-2'}}) }}
                                        <div class="col-md-10">
                                            <span class="not-blank"> {{ 'Required'|trans }}</span>
                                            <div class="input-group">
                                                {{ form_widget(form.narration) }}
                                                {{ form_errors(form.narration) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"><br/></div>
                                    <div class="card-header grey-bg inner-header">
                                        <h5>{{ 'Item Lists'|trans }}</h5>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card-body card-body-inner">
                                                <table class="table table-bordered" id="item-table">
                                                    <thead class="thead-dark">
                                                    <tr>
                                                        <th class="text-center"><i class="feather icon-slack"></i> </th>
                                                        <th class="span3">Product Name</th>
                                                        <th>UoM</th>
                                                        <th class="span1 text-right">Quantity</th>
                                                        <th class="span1 text-right">ReturnQnt</th>
                                                        <th class="span1 text-right">Remain.Qnt</th>
                                                        <th class="span1 text-right">Price</th>
                                                        <th class="text-right">SubTotal</th>
                                                        <th class="span1 text-right">SD</th>
                                                        <th class="span1 text-right">Vat(%)</th>
                                                        <th class="span1 text-right">Vat</th>
                                                        <th class="span1 text-right">TTI</th>
                                                        <th class="text-right">Total</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="invoiceItems">
                                                    {% set totalQuantity = 0 %}
                                                    {% set totalVat = 0 %}
                                                    {% set totalSubTotal = 0 %}
                                                    {% if entity.purchase.purchaseItems is defined and entity.purchase.purchaseItems is not empty %}
                                                        {% for item in entity.purchase.purchaseItems %}
                                                            {% set totalQuantity = totalQuantity + item.quantity  %}
                                                            {% set totalVat = totalVat + item.valueAddedTax  %}
                                                            {% set totalSubTotal = totalSubTotal + item.subTotal %}
                                                    <tr id="item-remove-{{ item.id }}">
                                                        <td class="text-center">{{ loop.index }}.</td>
                                                        <td>{{ item.name }}</td>
                                                        <td>
                                                           {% if item.masterItem.unit is not empty %} {{ item.masterItem.unit.name }}{% endif %}</td>
                                                        <td  class="text-right">
                                                            {{ item.totalQuantity }}
                                                        </td>
                                                        <td  class="text-right">
                                                            <input type="text" class="form-control quantity" data-id="{{ item.id }}"  min="1"  id="quantity-{{ item.id }}" name="quantity[]" value="{% if returnItems is not empty and returnItems[item.id] is defined and returnItems[item.id] is not empty %}{{ returnItems[item.id].quantity }} {% endif %}" placeholder="Return qnt" max="{{ item.remainingQuantity }}">
                                                            <input type="hidden" name="purchaseItemId[]" value="{{ item.id }}">
                                                            <input type="hidden" name="returnItemId" value="{% if returnItems is not empty and returnItems[item.id] is defined and returnItems[item.id] is not empty %}{{ returnItems[item.id].id }} {% endif %}">
                                                        </td>
                                                        <td  class="text-right">
                                                            {{ item.remainingQuantity }}
                                                        </td>
                                                        <td  class="text-right">
                                                            {{ item.purchasePrice|number_format(2) }}
                                                        </td>
                                                        <td  class="text-right">{% if returnItems is not empty and returnItems[item.id] is defined and returnItems[item.id] is not empty %}{{ returnItems[item.id].subTotal|number_format(2) }} {% endif %}</td>
                                                        <td  class="text-right">{% if returnItems is not empty and returnItems[item.id] is defined and returnItems[item.id] is not empty %}{{ returnItems[item.id].supplementaryDuty }} {% endif %}</td>
                                                        <td  class="text-right">{% if returnItems is not empty and returnItems[item.id] is defined and returnItems[item.id] is not empty %}{{ returnItems[item.id].valueAddedTaxPercent }} {% endif %}</td>
                                                        <td  class="text-right">{% if returnItems is not empty and returnItems[item.id] is defined and returnItems[item.id] is not empty %}{{ returnItems[item.id].valueAddedTax }} {% endif %}</td>
                                                        <td  class="text-right">{% if returnItems is not empty and returnItems[item.id] is defined and returnItems[item.id] is not empty %}{{ returnItems[item.id].totalTaxIncidence }} {% endif %}</td>
                                                        <td  class="text-right">{% if returnItems is not empty and returnItems[item.id] is defined and returnItems[item.id] is not empty %}{{ returnItems[item.id].total }} {% endif %}</td>
                                                    </tr>
                                                    {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                    <tfoot>
                                                    <th colspan="3" class="text-right">Total</th><th class="text-right"></th><th class="text-right">{{ entity.quantity }}</th><th class="text-right"></th><th class="text-right"></th><th class="text-right" id="subTotal">{{ entity.subTotal|number_format(2) }}</th><th class="text-right" id="totalVat">{{ entity.supplementaryDuty|number_format(2) }}</th><th class="text-right"> </th><th class="text-right" id="totalVat">{{ entity.valueAddedTax|number_format(2) }}</th><th class="text-right" id="totalVat">{{ entity.totalTaxIncidence|number_format(2) }}</th><th class="text-right" id="total">{{ (entity.total)|number_format(2) }}</th><th></th>
                                                    <tr>
                                                        <th colspan="7" class="text-right">Issue Person & Designation</th>
                                                        <td class="text-left" colspan="3">{{ form_widget(form.assignPerson) }}</td>
                                                        <td  class="text-right" colspan="5">{{ form_widget(form.assignPersonDesignation) }}</td>
                                                    </tr>
                                                     <tr>
                                                        <th colspan="10" class="text-right">Narration</th>

                                                         <td  class="text-right" colspan="5">{{ form_widget(form.process) }}</td>
                                                    </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="form-actions">
                                        <div class="col-md-6 text-left">
                                            <div class="btn-group" role="group">
                                            <a href="{{ path('inventory_purchase_preview',{'id':entity.id,'mode':'pdf'}) }}" target="_blank"  class="btn btn-sm  green-bg white-font addmore"><i class="feather icon-download"></i> Download</a>
                                            <a href="{{ path('inventory_purchase_preview',{'id':entity.id,'mode':'print'}) }}"  target="_blank"  class="btn btn-sm  indigo-bg white-font addmore"><i class="feather icon-printer"></i> Print</a>
                                                <a href="{{ path('inventory_purchase_preview',{'id':entity.id,'mode':'mushok'}) }}"  target="_blank"  class="btn btn-sm  blue-bg white-font addmore"><i class="feather icon-share"></i> Challan</a></div>
                                        </div>
                                        <div class="ol-md-6 text-right">
                                            {{ form_widget(form._token) }}
                                            <input type="hidden" name="paymentTotal" id="paymentTotal" value="{{ entity.netTotal }}">
                                            <input type="hidden" id="purchaseId" name="purchaseId" value="{{ entity.id }}">
                                            <div class="btn-group" role="group">
                                                <button type="reset"  class="btn btn-sm yellow-bg white-font"><i class="fa fa-recycle"></i>{{ 'label.reset'|trans }}</button>
                                                {{ form_widget(form.SaveAndCreate, {label: 'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/inventory/purchase-return/scripts.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
