{% extends 'admin/layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('inventory_purchase') }}"> {{ 'Manage Local Debit Note'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Debit Note'|trans }}: {{ entity.invoice }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('inventory_purchase_return_create',{'mode':'local'}) }}" class="btn btn-sm  green-bg white-font"><i class="fa fa-plus"></i>{{ 'New Local'|trans }}</a><a href="{{ path('inventory_purchase_return_create',{'mode':'foreign'}) }}" class="btn btn-sm  indigo-bg white-font"><i class="fa fa-plus"></i>{{ 'New Export'|trans }}</a>
                            <a href="{{ path('inventory_purchase_return') }}" class="btn btn-sm  blue-bg white-font"><i class="fa fa-table"></i>{{ 'Debit Note'|trans }}</a>
                            <span  data-placement="top" data-toggle="tooltip" title="" class="btn yellow-bg white-font" id="basic-addon1" data-original-title="{{ 'Button Related Instruction'|trans }}"> <i class="fa fa-question-circle"></i></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-th-large"></i> {{ 'Debit Note'|trans }} : {{  entity.invoice }}</div>
                    </div>
                    <div class="portlet-body form">
                        <div class="row">
                            <div class="col-md-12" id="process-msg">
                                <div class="alert alert-success"></div>
                            </div>
                        </div>
                        <div class="row form-body">
                            <div class="form-inner-no-space">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group-list">
                                            <label class="col-md-4 text-right">Company Name</label>
                                            <div class="col-md-8" id="binNo">{% if entity.purchase.vendor is not empty %}{{  entity.purchase.vendor.companyName }}{% endif %}</div>
                                        </div>
                                        <div class="form-group-list">
                                            <label class="col-md-4 text-right">BIN No.</label>
                                            <div class="col-md-8" id="binNo">{% if entity.purchase.vendor is not empty %}{{  entity.purchase.vendor.binNo }}{% endif %}</div>
                                        </div>
                                        <div class="form-group-list">
                                            <label class="col-md-4 text-right">Mobile</label>
                                            <div class="col-md-8" id="vendorMobile">{% if entity.purchase.vendor is not empty %}{{  entity.purchase.vendor.mobile }}{% endif %}</div>
                                        </div>
                                        <div class="form-group-list">
                                            <label class="col-md-4 text-right">Address</label>
                                            <div class="col-md-8" id="vendorAddress">{% if entity.purchase.vendor is not empty %}{{  entity.purchase.vendor.address }}{% endif %}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group-list">
                                            <label class="col-md-4 text-right">Challan No</label>
                                            <div class="col-md-8">{{  entity.invoice }}</div>
                                        </div>
                                        <div class="form-group-list">
                                            <label class="col-md-4 text-right">Issued Date</label>
                                            <div class="col-md-8" id="binNo">{{ entity.receiveDate|date('d-m-Y') }}</div>
                                        </div>
                                        <div class="form-group-list">
                                            <label class="col-md-4 text-right">Issued Time</label>
                                            <div class="col-md-8" id="binNo">{{ entity.receiveTime }}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group-list">
                                            <label class="col-md-4 text-right">Referrence Invoice</label>
                                            <div class="col-md-6">{{  entity.purchase.invoice }}/{{ entity.purchase.receiveDate|date("d-m-Y") }}</div>
                                        </div>

                                        <div class="form-group-list">
                                            <label class="col-md-4 text-right">Debit Reason</label>
                                            <div class="col-md-6">{{ entity.narration|raw }}</div>
                                        </div>
                                        <div class="form-group-list">
                                            <label class="col-md-4 text-right">Process</label>
                                            <div class="col-md-6">{{ entity.process|capitalize }}</div>
                                        </div>
                                    </div>

                                </div>
                                <div class="card-header grey-bg inner-header">
                                    <h5>Add Items</h5>
                                </div>
                                <div class="clearfix"></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card-body card-body-inner">
                                            <table class="table table-bordered" id="item-table">
                                                <thead class="thead-dark">
                                                <tr>
                                                    <th class="text-center"><i class="feather icon-slack"></i> </th>
                                                    <th class="span3">Product Name</th>
                                                    <th>UoM</th>
                                                    <th class="span1 text-right">Quantity</th>
                                                    <th class="span1 text-right">Price</th>
                                                    <th class="text-right">SubTotal</th>
                                                    <th class="span1 text-right">SD(%)</th>
                                                    <th class="span1 text-right">SD</th>
                                                    <th class="span1 text-right">Vat(%)</th>
                                                    <th class="span1 text-right">Vat</th>
                                                    <th class="span1 text-right">TTI</th>
                                                    <th class="text-right">Total</th>
                                                </tr>
                                                </thead>
                                                <tbody id="invoiceItems">
                                                {% set totalQuantity = 0 %}
                                                {% set totalVat = 0 %}
                                                {% set totalSubTotal = 0 %}
                                                {% if entity.returnItems is defined and entity.returnItems is not empty %}
                                                    {% for item in entity.returnItems %}
                                                        {% set totalQuantity = totalQuantity + item.quantity  %}
                                                        {% set totalVat = totalVat + item.valueAddedTax  %}
                                                        {% set totalSubTotal = totalSubTotal + item.subTotal %}
                                                        <tr id="item-remove-{{ item.id }}">
                                                            <td class="text-center">{{ loop.index }}.</td>
                                                            <td>{{ item.purchaseItem.name }}</td>
                                                            <td>{{ item.purchaseItem.uom }}</td>
                                                            <td class="text-right" >{{ item.quantity }}</td>
                                                            <td class="text-right">{{ item.price }}</td>
                                                            <td  class="text-right">{{ item.subTotal|number_format(2) }}</td>
                                                            <td  class="text-right">{{ item.supplementaryDutyPercent }}</td>
                                                            <td  class="text-right">{{ item.supplementaryDuty }}</td>
                                                            <td  class="text-right">{{ item.valueAddedTaxPercent }}</td>
                                                            <td  class="text-right">{{ item.valueAddedTax}}</td>

                                                            <td  class="text-right" id="vatTotal-{{ item.id }}">{{ item.totalTaxIncidence|number_format(2) }}</td>
                                                            <td  class="text-right" id="total-{{ item.id }}">{{ item.total|number_format(2) }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                {% endif %}
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <th colspan="3" class="text-right">Total</th><th class="text-right" id="totalQuantity">{{ totalQuantity|number_format }}</th><th class="text-right"></th><th class="text-right" id="subTotal">{{ totalSubTotal|number_format(2) }}</th><th class="text-right"> </th><th class="text-right" id="totalVat">{{ entity.supplementaryDuty|number_format(2) }}</th><th class="text-right"> </th><th class="text-right" id="totalVat">{{ entity.valueAddedTax|number_format(2) }}</th><th class="text-right" id="totalVat">{{ entity.totalTaxIncidence|number_format(2) }}</th><th class="text-right" id="total">{{ (entity.total)|number_format(2) }}</th>
                                                </tr>

                                                <tr>
                                                    <th colspan="11" class="text-right">Total BDT</th><th class="text-right" id="netTotal">{{ entity.netTotal|number_format(2) }}</th>
                                                </tr>
                                                <tr>
                                                    <th colspan="8" class="text-right">Assign Person</th>
                                                    <td class="text-left" colspan="5">{{ entity.assignPerson }}</td>
                                                </tr>
                                                <tr>
                                                    <th colspan="8" class="text-right">Designation</th>
                                                    <td  class="text-left" colspan="5">{{ entity.assignPersonDesignation }}</td>
                                                </tr>
                                                <tr>
                                                    <th colspan="8" class="text-right">Narration</th>
                                                    <td class="text-left" colspan="5">{{ entity.narration }}</td>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                                <div class="form-actions">
                                    <div class="col-md-6 text-left">
                                        {% if entity.process == 'approved' %}
                                        <div class="btn-group btn-group-sm">
                                            <a href="{{ path('inventory_purchase_preview',{'id':entity.id,'mode':'pdf'}) }}" target="_blank"  class="btn btn-sm  green-bg white-font addmore"><i class="feather icon-download"></i> Download</a>
                                            <a href="{{ path('inventory_purchase_preview',{'id':entity.id,'mode':'print'}) }}"  target="_blank"  class="btn btn-sm  indigo-bg white-font addmore"><i class="feather icon-printer"></i> Print</a>
                                            <a href="{{ path('nbrvat_report_mushuk_6_3_print',{'id':entity.id,'mode':'mushok'}) }}"  target="_blank"  class="btn btn-sm  blue-bg white-font addmore"><i class="feather icon-share"></i> Challan</a></div>
                                        {% endif %}
                                    </div>
                                    <div class="ol-md-6 text-right">
                                        {% if entity.process == 'done' %}
                                            <a href="javascript:" data-action="{{ path('inventory_purchase_return_process',{'id':entity.id,'process':'checked'}) }}" class="btn btn-sm  green-bg white-font approveProcess"><i class="feather icon-check"></i> Checked</a>
                                        {% endif %}
                                        {% if entity.process == 'checked' and entity.checkedBy is not empty %}
                                            <a href="javascript:" data-action="{{ path('inventory_purchase_return_process',{'id':entity.id,'process':'approved'}) }}" class="btn btn-sm  indigo-bg white-font approveProcess"><i class="feather icon-check-square"></i> Approved</a>
                                        {% endif %}
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
