{% extends 'admin/layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('inventory_purchase_service') }}"> {{ 'Manage Non Registred Purchase'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Non Registred Purchase'|trans }}: {{ entity.invoice }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('inventory_purchase_service_create',{'mode':'registered'}) }}" class="btn btn-sm  green-bg white-font"><i class="fa fa-plus"></i>{{ 'New Registred'|trans }}</a>
                            <a href="{{ path('inventory_purchase_service_create',{'mode':'non-registered'}) }}" class="btn btn-sm  blue-bg white-font"><i class="fa fa-plus"></i>{{ 'New Non-Registred'|trans }}</a>
                            <span  data-placement="top" data-toggle="tooltip" title="" class="btn yellow-bg white-font" id="basic-addon1" data-original-title="{{ 'Button Related Instruction'|trans }}"> <i class="fa fa-question-circle"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-th-large"></i> {{ 'Create New Non Registred Purchase'|trans }}</div>
                    </div>
                    <div class="portlet-body form">
                        <div class="row">
                            <div class="col-md-12" id="process-msg">
                                <div class="alert alert-success"></div>
                            </div>
                        </div>
                        <form action="{{ actionUrl }}" novalidate="novalidate" method="post" class="form-horizontal" id="postForm" data-action="{{ dataAction }}" enctype="multipart/form-data">
                            <div class="row form-body">
                                <div class="form-inner-no-space">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group-label">
                                                <label class="col-md-4 text-right">{{ 'Service Invoice'|trans }}</label>
                                                <div class="col-md-8">{{  entity.invoice }}</div>
                                            </div>
                                            <div class="form-group input-group-select">
                                                {{ form_label(form.vendor, 'Vendor Comapny'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                    <div class="input-group">
                                                        {{ form_widget(form.vendor) }}
                                                        {{ form_errors(form.vendor) }}
                                                        <div class="input-group-append">
                                                            <div data-action="{{ path('inventory_vendor_create_ajax',{'purchase':entity.id}) }}" class="input-group-text addVendor">
                                                                <i class="feather icon-plus"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-label">
                                                <label class="col-md-4 text-right">{{ 'BIN/NID No.'|trans }}</label>
                                                <div class="col-md-8" id="binNo">{% if entity.vendor is not empty %}{{  entity.vendor.binNo }}{% endif %}</div>
                                            </div>
                                            <div class="form-group-label">
                                                <label class="col-md-4 text-right">{{ 'Mobile'|trans }}</label>
                                                <div class="col-md-8" id="vendorMobile">{% if entity.vendor is not empty %}{{  entity.vendor.mobile }}{% endif %}</div>
                                            </div>
                                            <div class="form-group-label">
                                                <label class="col-md-4 text-right">{{ 'Address'|trans }}</label>
                                                <div class="col-md-8" id="vendorAddress">{% if entity.vendor is not empty %}{{  entity.vendor.address }}{% endif %}</div>
                                            </div>
                                        </div>
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                {{ form_label(form.challanNo, 'label.challanNo', {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        {{ form_widget(form.challanNo) }}
                                                        {{ form_errors(form.challanNo) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                {{ form_label(form.receiveDate, 'Receive Date'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                    <div class="input-group" >
                                                        {{ form_widget(form.receiveDate) }}
                                                        <div class="input-group-append" >
                                                            <div class="input-group-text"><i class="feather icon-calendar" ></i></div>
                                                        </div>
                                                    </div>
                                                    {{ form_errors(form.receiveDate) }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                {{ form_label(form.receiveTime, 'Receive Time'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                    <div class="input-group date" data-provide="timepicker">
                                                        {{ form_widget(form.receiveTime) }}
                                                        {{ form_errors(form.receiveTime) }}
                                                        <div class="input-group-append" >
                                                            <div class="input-group-text"><i class="feather icon-clock" ></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                {{ form_label(form.file, 'File Upload'|trans, {'label_attr': {'class': 'col-md-4'}}) }}  <div class="col-md-8">
                                                    <div class="custom-file">
                                                        {{ form_widget(form.file) }}
                                                        <label class="custom-file-label" for="purchase_local_form_file">{{ 'Choose File'|trans }}</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-header grey-bg inner-header">
                                        <h5>{{ 'Add Items'|trans }}</h5>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="card-header grey-bg inner-header item-box">
                                        <div class="row" id="add-item">
                                            <div class="col-md-3 input-group select2-large">
                                                <select name="masterItem" id="masterItem" class="form-control select2 input">
                                                    <option value="">-- Select a master product/service --</option>
                                                    {% for product in products %}
                                                        <option value="{{ product.id }}">{{ product.name }}</option>
                                                    {% endfor %}
                                                </select>
                                                <input type="hidden" id="productId" name="productId">
                                            </div>
                                            <div class="col-md-5">
                                                <div class="input-group">
                                                    <input type="text" class="form-control form-control-lg input" placeholder="Service & Others name" id="itemName" name="itemName">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <input type="number" class="form-control form-control-lg input" placeholder="Price" id="purchasePrice" name="purchasePrice">
                                                    <input type="number" class="form-control form-control-lg input" placeholder="Quantity" id="quantity" name="quantity" value="1">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-secondary" type="button" id="unit">Unit</button>
                                                        <button data-action="{{ path('inventory_create_purchase_item',{'id':entity.id}) }}" id="addProduct" class="btn btn-primary" type="button">Add Item</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card-body card-body-inner">
                                                <table class="table table-bordered" id="item-table">
                                                    <thead class="thead-dark">
                                                    <tr>
                                                        <th class="text-center"><i class="feather icon-slack"></i> </th>
                                                        <th class="span3">Product Name</th>
                                                        <th>UoM</th>
                                                        <th class="span1 text-right">Quantity</th>
                                                        <th class="span1 text-right">Price</th>
                                                        <th class="text-right">SubTotal</th>
                                                        <th class="span1 text-right">VDS(%)</th>
                                                        <th class="span1 text-right">VDS</th>
                                                        <th class="text-right">Total</th>
                                                        <th class="text-center"><i class="feather icon-settings"></i> </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="invoiceItems">
                                                    {% set totalQuantity = 0 %}
                                                    {% set totalVat = 0 %}
                                                    {% set totalSubTotal = 0 %}
                                                    {% if entity.purchaseItems is defined and entity.purchaseItems is not empty %}
                                                        {% for item in entity.purchaseItems %}
                                                            {% set totalQuantity = totalQuantity + item.quantity  %}
                                                            {% set totalVat = totalVat + item.valueAddedTax  %}
                                                            {% set totalSubTotal = totalSubTotal + item.subTotal %}
                                                            <tr id="item-remove-{{ item.id }}">
                                                                <td class="text-center">{{ loop.index }}.</td>
                                                                <td>{{ item.name }}</td>
                                                                <td>
                                                                    {% if item.masterItem.unit is not empty %} {{ item.masterItem.unit.name }}{% endif %}</td>
                                                                <td  class="text-right">
                                                                    <input type="text" class="form-control amount quantity" data-id="{{ item.id }}"  min="1"  id="quantity-{{ item.id }}" name="quantity[]" value="{{ item.quantity }}" placeholder="{{ item.quantity }}">
                                                                </td>
                                                                <td  class="text-right">
                                                                    <input type="text" name='purchasePrice' id="purchasePrice-{{ item.id }}" data-id="{{ item.id }}"  placeholder='{% if item.purchasePrice is not empty %}{{ item.purchasePrice|number_format(2) }} {% else %}Purchase Price{% endif %}' class="form-control  purchasePrice" value="{{ item.purchasePrice|number_format(2) }}"/>
                                                                </td>
                                                                <td  class="text-right">{{ item.subTotal|number_format(2) }}</td>
                                                                <td  class="text-right">{{ item.vatDeductionSourcePercent }}</td>

                                                                <td  class="text-right" id="vatTotal-{{ item.id }}">{{ item.totalTaxIncidence|number_format(2) }}</td>
                                                                <td  class="text-right" id="total-{{ item.id }}">{{ item.total|number_format(2) }}</td>

                                                                <td class="text-center">
                                                                    <input type="hidden" id="purchaseQuantity-{{ item.id }}"  value="{{ item.quantity }}" >

                                                                    <button  type="button" class="btn btn-sm btn-transparent red-font item-remove" data-action="{{ path('inventory_purchase_item_delete',{'invoice':entity.id,'item':item.id}) }}" ><i class="fas fa-remove" data-id="{{ item.id }}" aria-hidden="true"></i></button>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                    <tfoot>
                                                    <tr>
                                                        <th colspan="3" class="text-right">Total</th><th class="text-right" id="totalQuantity">{{ totalQuantity|number_format }}</th><th class="text-right"></th><th class="text-right" id="subTotal">{{ totalSubTotal|number_format(2) }}</th><th class="text-right"></th><th class="text-right" id="totalVat">{{ entity.totalTaxIncidence|number_format(2) }}</th><th class="text-right" id="total">{{ (totalSubTotal + entity.totalTaxIncidence)|number_format(2) }}</th><th></th>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="3" class="text-right">Discount Mode</th><td class="text-right" colspan="3">{{ form_widget(form.discountMode) }}</td><th class="text-right">Discount BDT</th><th class="text-right"> {{ form_widget(form.discountCalculation) }}</th><th class="text-right" id="discount">{{ entity.discount|number_format(2) }}</th><th id="discountPercent">{% if entity.discountMode == 'percent' %}{{ entity.discountCalculation }}%{% endif %}</th>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="7" class="text-right">NetTotal</th><th class="text-right"></th><th class="text-right" id="netTotal">{{ entity.netTotal|number_format(2) }}</th><th></th>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="3" class="text-right">Method</th><td class="text-right">{{ form_widget(form.transactionMethod) }}</td><th class="text-right mobileBankHide" colspan="2"><span  class="bank-hide {% if entity.transactionMethod == 'bank' %}show-method{% endif %}" >{{ form_widget(form.accountBank) }}</span><span class="mobile-hide {% if entity.transactionMethod == 'mobile' %}show-method{% endif %}">{{ form_widget(form.accountMobile) }}</span><th class="text-right">Payable BDT</th><th>{{ form_widget(form.payment) }}</th><th  class="text-right " id="payable">{{ entity.payment|number_format(2) }}</th><th id="duable">{{ entity.due|number_format(2) }}</th>
                                                    </tr>
                                                    <tr>
                                                        <th class="text-right" colspan="3">Delivery Address</th>
                                                        <td class="text-left" colspan="9">{{ form_widget(form.receiveAddress) }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="3" class="text-right">Issue Person & Designation</th>
                                                        <td class="text-left" colspan="4">{{ form_widget(form.assignPerson) }}</td>
                                                        <td  class="text-right" colspan="4">{{ form_widget(form.assignPersonDesignation) }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="3" class="text-right">Narration</th>
                                                        <td class="text-left" colspan="4">{{ form_widget(form.narration) }}</td>
                                                        <td  class="text-right" colspan="4">{{ form_widget(form.process) }}</td>
                                                    </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-header grey-bg inner-header">
                                        <h5>Additional Information</h5>
                                        <div class="card-header-right">
                                            <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                                                <button type="button" id="addrow"  class="btn btn-sm  green-bg white-font addmore"><i class="fas fa-plus"></i></button>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body card-body-inner">
                                        <div class="col-md-12 clone-block" id="clone-block">
                                            <div class="clone">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <input type="text" name="metaKey[]" id="metaKey" class="form-control form-control-sm" placeholder="Enter label name" value="">
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="input-group">
                                                            <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments">
                                                            <div class="input-group-append">
                                                                <div data-action="{{ path('core_vendor_create_ajax') }}" class="btn btn-sm btn-transparent red-font row-remove hidden">
                                                                    <i class="fa fa-remove"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% if entity.invoiceKeyValues is not empty %}
                                            {% for keyValue in entity.invoiceKeyValues %}
                                                <div class="col-md-12" id="remove-{{ keyValue.id }}" style="margin-bottom: 5px">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <input type="text" name="metaKey[]" id="metaKey" class="form-control form-control-sm" placeholder="Enter label name" value="{{ keyValue.metaKey }}">
                                                          <input type="hidden" id="metaId" name="metaId[]"  value="{{  keyValue.id }}"> 
                                                                   value="{{ keyValue.id }}">
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="input-group">
                                                                <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments" value="{{ keyValue.metaValue }}">
                                                                <div class="input-group-append">
                                                                    <div data-action="{{ path('inventory_purchase_delete_invoice_meta',{'meta':keyValue.id}) }}" class="btn  btn-sm btn-transparent red-font remove">
                                                                        <i class="fas fa-remove"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="form-actions">
                                        <div class="col-md-6 text-left">
                                            <div class="btn-group" role="group">
                                            <a href="{{ path('inventory_purchase_preview',{'id':entity.id,'mode':'pdf'}) }}" target="_blank"  class="btn btn-sm  green-bg white-font addmore"><i class="feather icon-download"></i> Download</a>
                                            <a href="{{ path('inventory_purchase_preview',{'id':entity.id,'mode':'print'}) }}"  target="_blank"  class="btn btn-sm  indigo-bg white-font addmore"><i class="feather icon-printer"></i> Print</a>
                                                <a href="{{ path('inventory_purchase_preview',{'id':entity.id,'mode':'mushok'}) }}"  target="_blank"  class="btn btn-sm  blue-bg white-font addmore"><i class="feather icon-share"></i> Mushok 6.3</a></div>
                                        </div>
                                        <div class="ol-md-6 text-right">
                                            {{ form_widget(form._token) }}
                                            <input type="hidden" name="paymentTotal" id="paymentTotal" value="{{ entity.netTotal }}">
                                            <input type="hidden" id="purchaseId" name="purchaseId" value="{{ entity.id }}">
                                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                                <button type="reset"  class="btn btn-sm yellow-bg white-font"><i class="fa fa-recycle"></i>{{ 'label.reset'|trans }}</button>
                                                {{ form_widget(form.SaveAndCreate, {label: 'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/inventory/purchase-service/scripts.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
