{% extends 'admin/layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item">{{ 'Manage Credit Note'|trans }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Credit Note'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('inventory_sales_return_create',{'mode':'local'}) }}" class="btn btn-sm  green-bg white-font"><i class="fa fa-plus"></i>{{ 'Add Credit Note'|trans }}</a>

                        </div>
                        <div class="btn-group card-option">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-original-title="" title="">
                                <i class="fas fa-ellipsis-v"></i>
                            </button>
                            <div class="list-unstyled dropdown-info card-option dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                <a id="excelBtn" class="dropdown-item" href="javascript:"> <i class="far fa-file-excel"></i> Excel</a>
                                <a id="pdfBtn" class="dropdown-item" href="javascript:"> <i class="far fa-file-pdf"></i> PDF</a>
                                <a id="printBtn" class="dropdown-item" href="javascript:"> <i class="fa fa-print" aria-hidden="true"></i> Print</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">

                    <table class="table table-striped table-bordered table-hover dataTable" id="entityDatatable">
                        <thead class="thead-dark">
                        <tr role="row" class="filter">
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>
                                <input  type="text" class="form-control  input-sm" name="invoice" id="invoice" placeholder="Credit Invoice"> </td>
                            <td>
                                <input  type="text" class="form-control  input-sm" name="customer" id="customer" placeholder="Customer"> </td>
                            <td>
                                <input  type="text" class="form-control  input-sm" name="salesInvpice" id="salesInvpice" placeholder="Sales Invoice">
                            </td>

                            <td colspan="2">
                                <input  type="text" class="form-control col-md-10  input-sm dateCalendar" name="startDate" id="startDate" placeholder="Start date">
                            </td>
                            <td colspan="2">
                                <input  type="text" class="form-control col-md-10  input-sm dateCalendar" name="endDate" id="endDate" placeholder="End date">
                            </td>
                            <td>
                                <select class="form-control  input-sm" name="mode" id="mode">
                                    <option value="">Select Mode</option>
                                    <option value="local">Locak</option>
                                    <option value="foreign">Foreign</option>
                                </select>
                            </td>
                            <td colspan="2">
                                <select class="form-control  input-sm" name="mode" id="mode">
                                    {% set process =  {'Created':'created','In-progress':'in-progress','Hold':'hold','Done' : 'done'} %}
                                    <option value="">Select Process</option>
                                    {% for key,process in process %}
                                    <option value="{{ process }}">{{ key }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        <tr>
                            <th><i class="feather icon-list"></i></th>
                            <th>Created</th>
                            <th>Invoice</th>
                            <th>Customer</th>
                            <th>Sales Invoice</th>
                            <th>SubTotal</th>
                            <th>TTI</th>
                            <th>NetTotal</th>
                            <th>Mode</th>
                            <th>Process</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/inventory/sales-return/scripts.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/inventory/sales-return/ajax-pagination.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}

