<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body style="font-family: Solaimanlipi">

<p style="font-family: Solaimanlipi">
    গণপ্রজাতন্ত্রী বাংলাদেশ সরকার
    জাতীয় রাজস্ব বোর্ড
    মূসক - ৯.১
    মূল্য সংযোজন কর দাখিলপত্র
    [বিধি ৪৭ এর উপ-বিধি (১) দ্রষ্টব্য]
    অংশ-১: করদাতার তথ্য
    (১) ব্যবসায় সনাক্তকরণ সংখ্যা
    :
    DBin-১১১০১১
    (২) করদাতার নাম
    :
    Divine IT Limited
    (৩) করদাতার ঠিকানা
    :
    (৪) ব্যবসার প্রকৃতি
    :
    (৫) অর্থনৈতিক কার্যক্রম এর প্রকৃতি
    :
    অংশ-২: দাখিলপত্র জমার তথ্য
    (১) কর মেয়াদ
    :
    October
    /
    2019
    (২) বিগত কর মেয়াদে কোনো কার্যক্রম সম্পাদিত হইয়াছে কি?
    :
    হ্যাঁ 		না
    [যদি 'না' হয় তাহা হইলে অংশ-১,২ এবং ১০ পূরণ করুন]
    (৩) পেশের তারিখ
    :
    ২
    ৭
    /
    ১
    ০
    /
    ২
    ০
    ১
    ৯
    অংশ-৩: সরবরাহ প্রদান - প্রদেয় কর
    সরবরাহের প্রকৃতি
    নোট
    মূল্য (ক)
    মূসক (খ)
    এসডি (গ)
    শুন্যহার বিশিষ্ট পণ্য/সেবা
    সরাসরি রপ্তানি
    ১
    ০.০০
    ০.০০
    ০.০০
    সাবফর্ম-ক
    প্রচ্ছন্ন রপ্তানি
    ২
    ০.০০
    ০.০০
    ০.০০
    সাবফর্ম-ক
    অব্যাহতিপ্রাপ্ত পণ্য/সেবা
    ৩
    ০.০০
    ০.০০
    ০.০০
    সাবফর্ম-ক
    আদর্শ হারের পণ্য/সেবা
    ৪
    ০.০০
    ০.০০
    ০.০০
    সাবফর্ম-ক
    সর্বোচ্চ খুচরা মূল্যভিত্তিক পণ্য
    ৫
    সাবফর্ম-ক
    বিশেষ স্কীমভিত্তিক পণ্য/সেবা
    ৬
    সাবফর্ম-ক
    আদর্শ করহার ব্যতীত ভিন্ন করহার ভিত্তিক পণ্য/সেবা
    ৭
    ০.০০
    ০.০০
    ০.০০
    সাবফর্ম-ক
    খুচরা/পাইকারি ভিত্তিক সরবরাহ
    ৮
    সাবফর্ম-খ
    মোট বিক্রয়মূল্য ও মোট প্রদেয় কর
    ৯
    ০.০০
    ০.০০
    ০.০০

</p>
</body>
</html>