{% extends 'admin/layout.html.twig' %}
{% block body_id 'core_domain_new' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('inventory_setting') }}">  {{ 'Settings'|trans }}</a></li>
                        <li class="breadcrumb-item"> <a href="javascript:">{{ 'Add New'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Settings'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('inventory_setting_new') }}" class="btn btn-sm  green-bg white-font"><i class="fas fa-plus"></i>{{ 'Add New'|trans }}</a>
                            <a href="{{ path('inventory_setting') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'Settings'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-th-large"></i> {{ 'Manage Setting'|trans }} </div>
                    </div>
                    <div class="portlet-body form">
                        {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                        <div class="row form-body">
                            <div class="form-inner-no-space">
                                <div class="row">
                                    <div class="col-md-6 offset-1">
                                        <div class="form-group">
                                            {{ form_label(form.settingType, 'Setting Type'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                {{ form_widget(form.settingType) }}
                                                {{ form_errors(form.settingType) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.name, 'Name'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                {{ form_widget(form.name) }}
                                                {{ form_errors(form.name) }}
                                            </div>
                                        </div>
                                         <div class="form-group">
                                            {{ form_label(form.nameBn, 'Name Bangla'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.nameBn) }}
                                                {{ form_errors(form.nameBn) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.accountCode, 'Account Code'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.accountCode) }}
                                                {{ form_errors(form.accountCode) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.noteNo, 'Note No'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.noteNo) }}
                                                {{ form_errors(form.noteNo) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4"></label>
                                            <div class="col-md-6">
                                                {{ form_widget(form.status) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="card-header grey-bg inner-header">
                                    <h5>Additional Information</h5>
                                    <div class="card-header-right">
                                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                                            <button type="button" id="addrow" class="btn btn-sm  green-bg white-font addmore"><i class="fas fa-plus"></i></button>

                                        </div>
                                    </div>
                                </div>
                                <div class="card-body card-body-inner">
                                    <div class="col-md-12 clone-block" id="clone-block">
                                        <div class="clone">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <input type="text" name="metaKey[]" id="metaKey" class="form-control form-control-sm" placeholder="Enter label name" value="">
                                                    <input type="hidden" name="metaId[]" id="metaId" value="">
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments">
                                                        <div class="input-group-append">
                                                            <div class="btn btn-sm btn-transparent red-font row-remove hidden">
                                                                <i class="fa fa-remove"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% if entity.itemKeyValues is not empty %}
                                        {% for keyValue in entity.itemKeyValues %}
                                            <div class="col-md-12 clone-remove" id="remove-{{ keyValue.id }}" style="margin-bottom: 5px">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <input type="hidden" name="metaId[]" id="metaId" value="{{ keyValue.id }}">
                                                        <input type="text" name="metaKey[]" id="metaKey" class="form-control form-control-sm" placeholder="Enter label name" value="{{ keyValue.metaKey }}">
                                                        <input type="hidden" name="attributeId[]"
                                                               value="{{ keyValue.id }}">
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="input-group">
                                                            <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments" value="{{ keyValue.metaValue }}">
                                                            <div class="input-group-append">
                                                                <div data-action="{{ path('inventory_setting_meta_delete',{'id':keyValue.id}) }}" data-id="{{ keyValue.id }}" class="btn  btn-sm btn-transparent red-font meta-remove">
                                                                    <i class="fas fa-remove"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-actions">
                                    <div class="col-md-6 ">

                                    </div>
                                    <div class="col-md-6 text-right">
                                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown"><button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                            {{ form_widget(form.SaveAndCreate, {label: 'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        {{ form_widget(form._token) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}