{% extends 'admin/layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('inventory_branch_issue') }}"> {{ 'Manage Branch Issue'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Branch Issue Invoice'|trans }}: {{ entity.invoice }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('inventory_branch_issue_create') }}" class="btn btn-sm  green-bg white-font"><i class="fa fa-plus"></i>{{ 'New Branch Issue'|trans }}</a>
                            <a href="{{ path('inventory_branch_issue') }}" class="btn btn-sm  gray-bg white-font"><i class="fa fa-table"></i>{{ 'Branch Issue'|trans }}</a>
                            <span  data-placement="top" data-toggle="tooltip" title="" class="btn yellow-bg white-font" id="basic-addon1" data-original-title="{{ 'Button Related Instruction'|trans }}"> <i class="fa fa-question-circle"></i></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-th-large"></i> {{ 'Create New Invoice'|trans }}</div>
                    </div>
                    <div class="portlet-body form">
                        <div class="row">
                            <div class="col-md-12" id="process-msg">
                                <div class="alert alert-success"></div>
                            </div>
                        </div>
                        <form action="{{ actionUrl }}"  method="post" class="form-horizontal" id="postForm" data-action="{{ dataAction }}">
                            <div class="row form-body">
                                <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group-label">
                                                    <label class="col-md-4 text-right">{{ 'Invoice No'|trans }}</label>
                                                    <div class="col-md-8">{{  entity.invoice }}</div>
                                                </div>
                                                <div class="form-group  input-group-select">
                                                    {{ form_label(form.branch, 'Branch Name'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                        <div class="input-group">
                                                            {{ form_widget(form.branch) }}
                                                            {{ form_errors(form.branch) }}
                                                            <div class="input-group-append">
                                                                <div data-action="{{ path('inventory_customer_create_ajax',{'sales':entity.id}) }}" class="input-group-text addCustomer">
                                                                    <i class="feather icon-plus"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% if entity.branch is not empty %}
                                                    {% if entity.branch.itemKeyValues is not empty %}
                                                        {% for itemKey in entity.branch.itemKeyValues %}
                                                            <div class="form-group-label">
                                                                <label class="col-md-4 text-right">{{ itemKey.metaKey }}</label>
                                                                <div class="col-md-8">{{ itemKey.metaValue }}</div>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endif %}

                                            </div>
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4">
                                                <div class="form-group-label">
                                                    <label class="col-md-4 text-right">{{ 'Issue Date'|trans }}</label>
                                                    <div class="col-md-8" id="">{{  entity.updated|date('d-m-Y') }}</div>
                                                </div>
                                                <div class="clearfix"><br/></div>
                                                <div class="form-group-label">
                                                    <label class="col-md-4 text-right">{{ 'Issue Time'|trans }}</label>
                                                    <div class="col-md-8" id="">{{  entity.updated|date('h:m a') }}</div>
                                                </div>
                                                <div class="clearfix"><br/></div>

                                            </div>
                                        </div>
                                    <div class="card-header grey-bg inner-header">
                                        <h5>{{ 'Add Sales Items'|trans }}</h5>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="card-header grey-bg inner-header item-box">
                                        <div class="row">
                                            <div class="col-md-6">Item Name & Batch</div>
                                            <div class="col-md-3"></div>
                                            <div class="col-md-2 text-center">Quantity</div>
                                        </div>
                                        <div class="row" id="add-item">
                                            <div class="col-md-5 input-group select2-large">
                                                <select name="product" id="product" class="form-control select2 input">
                                                    <option value="">-- Select a product name --</option>
                                                    {% for product in products %}
                                                        <option value="{{ path('inventory_sales_item_search',{'id':product.id}) }}">{{ product.name }}</option>
                                                    {% endfor %}
                                                </select>
                                                <input type="hidden" id="productId" name="productId">
                                                <input type="hidden" id="remainingQnt" name="remainingQnt">
                                                <input type="hidden" id="valueAddedTaxPercent" name="valueAddedTaxPercent" value="">

                                            </div>
                                            <div class="col-md-3">
                                                <div class="col-md-12 input-group select2-large" id="batchItem">
                                                </div>
                                                <input type="hidden" id="batchQnt" name="batchQnt">
                                            </div>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <input type="hidden" class="form-control form-control-lg input" placeholder="Sales price" id="salesPrice" name="salesPrice">
                                                    <button type="button" class="btn col-md-3 btn-warning" id="price">Price</button>
                                                    <button type="button" class="btn" id="remaining">Stock</button>
                                                    <input type="number" class="form-control form-control-lg input" placeholder="Quantity" id="quantity" name="quantity">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-secondary" type="button" id="unit">Unit</button>
                                                        <button data-action="{{ path('inventory_create_branch_issue_item',{'id':entity.id}) }}" id="addProduct" class="btn btn-primary" type="button">Add Item</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card-body card-body-inner">
                                                <table class="table table-bordered" id="item-table">
                                                    <thead class="thead-dark">
                                                    <tr>
                                                        <th class="text-center"><i class="feather icon-slack"></i> </th>
                                                        <th class="span3">Product Name</th>
                                                        <th>UoM</th>
                                                        <th class="span1 text-right">Quantity</th>
                                                        <th class="span1 text-right">Price</th>
                                                        <th class="text-right">SubTotal</th>
                                                        <th class="span1 text-right">Vat(%)</th>
                                                        <th class="span1 text-right">Vat</th>
                                                        <th class="span1 text-right">TTI</th>
                                                        <th class="text-right">Total</th>
                                                        <th class="text-center"><i class="feather icon-settings"></i></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="invoiceItems">
                                                    {% set totalQuantity = 0 %}
                                                    {% set totalVat = 0 %}
                                                    {% set totalSubTotal = 0 %}
                                                    {% if entity.branchIssueItems is defined and entity.branchIssueItems is not empty %}
                                                        {% for item in entity.branchIssueItems %}
                                                            {% set totalQuantity = totalQuantity + item.quantity  %}
                                                            {% set totalVat = totalVat + item.valueAddedTax  %}
                                                            {% set totalSubTotal = totalSubTotal + item.subTotal %}
                                                    <tr id="item-remove-{{ item.id }}">
                                                        <td class="text-center">{{ loop.index }}.</td>
                                                        <td>{{ item.name }}</td>
                                                        <td>
                                                           {% if item.item.unit is not empty %} {{ item.item.unit.name }}{% endif %}</td>
                                                        <td  class="text-right">
                                                            <input type="text" class="form-control amount quantity" data-id="{{ item.id }}"  min="1" max="{{ item.productionBatchItem.stockQuantity }}"  id="quantity-{{ item.id }}" name="quantity[]" value="{{ item.quantity }}" placeholder="{{ item.quantity }}">
                                                        </td>
                                                         <td  class="text-right">
                                                             {{ item.salesPrice|number_format(2) }}
                                                        </td>
                                                        <td  class="text-right" id="subTotal-{{ item.id }}">
                                                            {{ item.subTotal|number_format(2) }}</td>
                                                        <td  class="text-right"> {{ item.valueAddedTaxPercent }} </td>
                                                        <td  class="text-right" id="vatTotal-{{ item.id }}">
                                                            {{ item.valueAddedTax|number_format(2) }}</td>
                                                        <td  class="text-right" id="vatTotal-{{ item.id }}">
                                                            {{ item.totalTaxIncidence|number_format(2) }}</td>
                                                         <td  class="text-right" id="total-{{ item.id }}">
                                                             {{ item.total|number_format(2) }}</td>
                                                        <td class="text-center">
                                                            <input type="hidden" id="vatPercent-{{ item.id }}"  value="{{ item.valueAddedTaxPercent }}" >
                                                            <button  type="button" class="btn btn-sm btn-transparent red-font item-remove" data-action="{{ path('inventory_branch_issue_item_delete',{'invoice':entity.id,'item':item.id}) }}" ><i class="fas fa-remove" data-id="{{ item.id }}" aria-hidden="true"></i></button>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                    <tfoot>
                                                    <tr>
                                                    <th colspan="3" class="text-right">Total</th><th class="text-right" id="totalQuantity">{{ totalQuantity|number_format(2) }}</th><th></th><th class="text-right" id="subTotal">{{ entity.subTotal|number_format(2) }}</th><th></th><th class="text-right" id="totalVat">{{ entity.valueAddedTax|number_format(2) }}</th><th class="text-right" id="totalTti">{{ entity.totalTaxIncidence|number_format(2) }}</th><th class="text-right" id="total">{{ (totalSubTotal + entity.totalTaxIncidence)|number_format(2) }}</th><th></th>
                                                    </tr>
                                                    <tr>
                                                    <th colspan="8" class="text-right">NetTotal</th><th class="text-right"></th><th class="text-right" id="netTotal">{{ entity.netTotal|number_format(2) }}</th><th></th>
                                                    </tr>
                                                     <tr>
                                                        <th class="text-right" colspan="4">Delivery Address</th>
                                                         <td class="text-left" colspan="7">{{ form_widget(form.deliveryAddress) }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="4" class="text-right">Issue Person & Designation</th>
                                                        <td class="text-left" colspan="4">{{ form_widget(form.issuePerson) }}</td>
                                                        <td  class="text-right" colspan="3">{{ form_widget(form.issueDesignation) }}</td>
                                                    </tr>
                                                     <tr>
                                                        <th colspan="4" class="text-right">Narration</th>
                                                         <td class="text-left" colspan="4">{{ form_widget(form.narration) }}</td>
                                                         <td  class="text-right" colspan="3">{{ form_widget(form.process) }}</td>
                                                    </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-header grey-bg inner-header">
                                        <h5>Additional Information</h5>
                                        <div class="card-header-right">
                                            <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                                                <button type="button" id="addrow"  class="btn btn-sm  green-bg white-font addmore"><i class="fas fa-plus"></i></button>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body card-body-inner">
                                        <div class="col-md-12 clone-block" id="clone-block">
                                            <div class="clone">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <input type="text" name="metaKey[]" id="metaKey" class="form-control form-control-sm" placeholder="Enter label name" value="">
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="input-group">
                                                            <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments">
                                                            <div class="input-group-append">
                                                                <div class="btn btn-sm btn-transparent red-font row-remove hidden">
                                                                    <i class="fa fa-remove"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% if entity.invoiceKeyValues is not empty %}
                                            {% for keyValue in entity.invoiceKeyValues %}
                                                <div class="col-md-12" id="remove-{{ keyValue.id }}" style="margin-bottom: 5px">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <input type="hidden" id="metaId" name="metaId[]" value="{{  keyValue.id }}">
                                                            <input type="text" name="metaKey[]" id="metaKey" class="form-control form-control-sm" placeholder="Enter label name" value="{{ keyValue.metaKey }}">
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="input-group">
                                                                <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments" value="{{ keyValue.metaValue }}">
                                                                <div class="input-group-append">
                                                                    <div data-action="{{ path('inventory_branch_issue_delete_invoice_meta',{'meta':keyValue.id}) }}" class="btn  btn-sm btn-transparent red-font remove">
                                                                        <i class="fas fa-remove"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="form-actions">
                                        <div class="col-md-6 text-left">
                                            {% if entity.process == 'approved' %}
                                            <div class="btn-group btn-group-sm" role="group" >
                                           <a href="{{ path('inventory_branch_issue_preview',{'id':entity.id,'mode':'print'}) }}"  target="_blank"  class="btn btn-sm  indigo-bg white-font"><i class="feather icon-printer"></i> Print</a>
                                            <a href="{{ path('inventory_branch_issue_preview',{'id':entity.id,'mode':'challan'}) }}"  target="_blank"  class="btn btn-sm  yellow-bg white-font"><i class="feather icon-download"></i> Challan</a>
                                                <a href="{{ path('nbrvat_report_mushuk_6_5_print',{'id':entity.id,'mode':'print'}) }}"  target="_blank"  class="btn btn-sm  blue-bg white-font"><i class="feather icon-share"></i> Mushok 6.5</a></div>
                                            {% endif %}
                                        </div>
                                        <div class="ol-md-6 text-right">
                                            {{ form_widget(form._token) }}
                                            <input type="hidden" name="paymentTotal" id="paymentTotal" value="{{ entity.netTotal }}">
                                            <input type="hidden" id="purchaseId" name="purchaseId" value="{{ entity.id }}">
                                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                                <button type="reset"  class="btn btn-sm yellow-bg white-font"><i class="fa fa-recycle"></i>{{ 'label.reset'|trans }}</button>
                                                {{ form_widget(form.SaveAndCreate, {label: 'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/inventory/branch-issue/scripts.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
