{% extends 'admin/layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('inventory_branch_issue') }}"> {{ 'Manage Branch Issue'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Branch Issue'|trans }}: {{ entity.invoice }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('inventory_branch_issue_create') }}" class="btn btn-sm  green-bg white-font"><i class="fa fa-plus"></i>{{ 'New Branch Issue'|trans }}</a>
                            <a href="{{ path('inventory_branch_issue') }}" class="btn btn-sm  gray-bg white-font"><i class="fa fa-table"></i>{{ 'Branch Issue'|trans }}</a>
                            <span  data-placement="top" data-toggle="tooltip" title="" class="btn yellow-bg white-font" id="basic-addon1" data-original-title="{{ 'Button Related Instruction'|trans }}"> <i class="fa fa-question-circle"></i></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-th-large"></i> {{ 'Manage Branch Issue'|trans }} : {{  entity.invoice }}</div>
                    </div>
                    <div class="portlet-body form">
                        <div class="row form-body">
                            <div class="form-inner-no-space">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group-list">
                                            <label class="col-md-4 text-right">{{ "Branch Issue"|trans }}</label>
                                            <div class="col-md-8" id="binNo">{% if entity.branch is not empty %}{{  entity.branch.name }}{% endif %}</div>
                                        </div>
                                        {% if entity.branch is not empty %}
                                            {% if entity.branch.itemKeyValues is not empty %}
                                                {% for itemKey in entity.branch.itemKeyValues %}
                                                    <div class="form-group-label">
                                                        <label class="col-md-4 text-right">{{ itemKey.metaKey }}</label>
                                                        <div class="col-md-8" id="binNo">{{ itemKey.metaValue }}</div>
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <div class="form-group-list">
                                            <label class="col-md-4 text-right">Challan No</label>
                                            <div class="col-md-8">{{  entity.invoice }}</div>
                                        </div>
                                        <div class="form-group-list">
                                            <label class="col-md-4 text-right">Issue Date</label>
                                            <div class="col-md-8" id="binNo">{{ entity.issueDate|date('d-m-Y') }}</div>
                                        </div>
                                        <div class="form-group-list">
                                            <label class="col-md-4 text-right">Issue Time</label>
                                            <div class="col-md-8" id="binNo">{{ entity.issueTime }}</div>
                                        </div>
                                        <div class="form-group-list">
                                            <label class="col-md-4 text-right">Process</label>
                                            <div class="col-md-6">{{ entity.process|capitalize }}</div>
                                        </div>
                                    </div>

                                </div>
                                <div class="card-header grey-bg inner-header">
                                    <h5>Add Items</h5>
                                </div>
                                <div class="clearfix"></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card-body card-body-inner">
                                            <table class="table table-bordered" id="item-table">
                                                <thead class="thead-dark">
                                                <tr>
                                                    <th class="text-center"><i class="feather icon-slack"></i> </th>
                                                    <th class="span3">Product Name</th>
                                                    <th>UoM</th>
                                                    <th class="span1 text-right">Quantity</th>
                                                    <th class="span1 text-right">Price</th>
                                                    <th class="text-right">SubTotal</th>
                                                    <th class="span1 text-right">Vat(%)</th>
                                                    <th class="span1 text-right">Vat</th>
                                                    <th class="span1 text-right">TTI</th>
                                                    <th class="text-right">Total</th>
                                                    <th class="text-center"></th>
                                                </tr>
                                                </thead>
                                                <tbody id="invoiceItems">
                                                {% set totalQuantity = 0 %}
                                                {% set totalVat = 0 %}
                                                {% set totalSubTotal = 0 %}
                                                {% if entity.branchIssueItems is defined and entity.branchIssueItems is not empty %}
                                                    {% for item in entity.branchIssueItems %}
                                                        {% set totalQuantity = totalQuantity + item.quantity  %}
                                                        {% set totalVat = totalVat + item.valueAddedTax  %}
                                                        {% set totalSubTotal = totalSubTotal + item.subTotal %}
                                                        <tr id="item-remove-{{ item.id }}">
                                                            <td class="text-center">{{ loop.index }}.</td>
                                                            <td>{{ item.name }}</td>
                                                            <td>
                                                                {% if item.item.unit is not empty %}
                                                                    {{ item.item.unit.name }}{% endif %}</td>
                                                            <td  class="text-right">
                                                                {{ item.quantity }}
                                                            </td>
                                                            <td  class="text-right">
                                                                {{ item.salesPrice|number_format(2) }}
                                                            </td>
                                                            <td  class="text-right" id="vatTotal-{{ item.id }}">
                                                                {{ item.subTotal|number_format(2) }}</td>
                                                            <td  class="text-right">
                                                                {{ item.valueAddedTaxPercent }}
                                                            </td>
                                                            <td  class="text-right" id="vatTotal-{{ item.id }}">{{ item.valueAddedTax|number_format(2) }}</td>
                                                            <td  class="text-right" id="vatTotal-{{ item.id }}">{{ item.totalTaxIncidence|number_format(2) }}</td>
                                                            <td  class="text-right" id="total-{{ item.id }}">{{ item.total|number_format(2) }}</td>
                                                            <td class="text-center"></td>
                                                        </tr>
                                                    {% endfor %}
                                                {% endif %}
                                                </tbody>
                                                <tfoot>
                                                <th colspan="3" class="text-right">Total</th>
                                                <th class="text-right" id="totalQuantity">
                                                    {{ totalQuantity|number_format }}</th>
                                                <th class="text-right"></th>
                                                <th class="text-right" id="subTotal">
                                                    {{ entity.subTotal|number_format(2) }}</th>
                                                <th class="text-right"> </th>
                                                <th class="text-right" id="totalVat">{{ entity.valueAddedTax|number_format(2) }}</th>
                                                <th class="text-right" id="totalVat">{{ entity.totalTaxIncidence|number_format(2) }}</th>
                                                <th class="text-right" id="total">{{ (totalSubTotal + entity.totalTaxIncidence)|number_format(2) }}</th>
                                                <th></th>
                                                <tr>
                                                    <th colspan="9" class="text-right">NetTotal</th>
                                                    <th class="text-right" id="netTotal">{{ entity.netTotal|number_format(2) }}</th><th></th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="6">Delivery Address</th>
                                                    <td class="text-left" colspan="7">{{ entity.deliveryAddress }}</td>
                                                </tr>
                                                <tr>
                                                    <th colspan="6" class="text-right">Assign Person & Designation</th>
                                                    <td class="text-left" colspan="3">{{ entity.issuePerson }}</td>
                                                    <td  class="text-left" colspan="4">{{ entity.issueDesignation }}</td>
                                                </tr>
                                                <tr>
                                                    <th colspan="6" class="text-right">Narration</th>
                                                    <td class="text-left" colspan="7">{{ entity.narration }}</td>
                                                </tr>

                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                {% if entity.invoiceKeyValues is not empty %}
                                <div class="card-header grey-bg inner-header">
                                    <h5>{{ "Additional Information"|trans }}</h5>
                                </div>
                                <div class="card-body card-body-inner">
                                        {% for keyValue in entity.invoiceKeyValues %}
                                            <div class="row">
                                                <div class="col-md-3 text-right">
                                                    {{ keyValue.metaKey }}
                                                </div>
                                                <div class="col-md-9">
                                                    {{ keyValue.metaValue }}
                                                </div>
                                            </div>
                                        {% endfor %}
                                </div>
                                {% endif %}
                                <div class="clearfix"></div>
                                <div class="form-actions">
                                    <div class="col-md-6 text-left">
                                        {% if entity.process == 'approved' %}
                                        <div class="btn-group btn-group-sm" role="group" >
                                            <a href="{{ path('nbrvat_report_mushuk_6_5_print',{'id':entity.id,'mode':'print'}) }}"  target="_blank"  class="btn btn-sm  indigo-bg white-font"><i class="feather icon-printer"></i> Print</a>
                                            <a href="{{ path('inventory_branch_issue_preview',{'id':entity.id,'mode':'challan'}) }}"  target="_blank"  class="btn btn-sm  yellow-bg white-font"><i class="feather icon-download"></i> Challan</a>
                                            <a href="{{ path('nbrvat_report_mushuk_6_5_print',{'id':entity.id}) }}"  target="_blank"  class="btn btn-sm  blue-bg white-font"><i class="feather icon-share"></i> Mushok 6.5</a>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="ol-md-6 text-right">
                                        {% if entity.process == 'done' %}
                                            <a href="javascript:" data-action="{{ path('inventory_branch_issue_process',{'id':entity.id,'process':'checked'}) }}"   class="btn btn-sm  green-bg white-font approveProcess"><i class="feather icon-check"></i> Checked</a>
                                        {% endif %}
                                        {% if entity.process == 'checked' and entity.checkedBy is not empty %}
                                            <a href="javascript:" data-action="{{ path('inventory_branch_issue_process',{'id':entity.id,'process':'approved'}) }}" class="btn btn-sm  indigo-bg white-font approveProcess"><i class="feather icon-check-square"></i> Approved</a>
                                        {% endif %}
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/inventory/purchase/scripts.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
