{% extends 'admin/layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> {{ 'Manage Production Issue'|trans }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Production Issue Item'|trans }}</h5>
                </div>
                <div class="clearfix"></div>
                <div class="card-header grey-bg">
                    <div class="row" id="add-item">
                        <div class="col-md-7 input-group select2-large">
                            <select name="product" id="product" class="form-control select2 input">
                                <option value="">-- Select a product name --</option>
                                {% for product in products %}
                                    <option value="{{ path('inventory_issue_item_search',{'id':product.id}) }}">{{ product.name }}</option>
                                {% endfor %}
                            </select>
                            <input type="hidden" id="productId" name="productId">
                        </div>
                        <div class="col-md-5">
                            <div class="input-group">
                                <input type="number" disabled="disabled" class="form-control form-control-lg input" placeholder="Remaining Quantity" id="remaining" name="remaining">
                                <input type="number" disabled="disabled" class="form-control form-control-lg input" placeholder="Purchase price" id="purchasePrice" name="purchasePrice">
                                <input type="number" class="form-control form-control-lg input" placeholder="Quantity" id="quantity" name="quantity">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary" type="button" id="unit">Unit</button>
                                    <button data-action="{{ path('inventory_create_issue_item') }}" id="addProduct" class="btn btn-primary" type="button">Add Item</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="row">

            <div class="card">
                <div class="card-block">
                    <div id="check-btn">
                        <button data-action="{{ path('inventory_issue_process_group',{'mode':'cheked'}) }}" class="btn indigo-bg white-font btn-sm" type="button" id="checkBtn"><i class="feather icon-check"></i> All Check</button>
                        <button data-action="{{ path('inventory_issue_process_group',{'mode':'approved'}) }}" class="btn green-bg white-font btn-sm" type="button" id="approveBtn"><i class="feather icon-check-square"></i> All Approve</button>
                    </div>
                    <table class="table table-striped table-bordered table-hover dataTable" id="entityDatatable">
                        <thead class="thead-dark">
                        <tr>
                            <th><input type="checkbox" class="allCheckbox" id="allCheck" name="allCheck"></th>
                            <th><i class="feather icon-list"></i></th>
                            <th>Created</th>
                            <th>Item</th>
                            <th>Uom</th>
                            <th>Quantity</th>
                            <th>Purchase</th>
                            <th>SubTotal</th>
                            <th>Process</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <style>

    </style>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/inventory/issue/scripts.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/inventory/issue/ajax-pagination.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}

