{% extends 'admin/layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('inventory_sales') }}"> {{ 'Manage Export Sales'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Sales Export Invoice'|trans }}: {{ entity.invoice }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('inventory_sales_create',{'mode':'local'}) }}" class="btn btn-sm  green-bg white-font"><i class="fa fa-plus"></i>{{ 'New Local'|trans }}</a>
                            <a href="{{ path('inventory_sales_create',{'mode':'Export'}) }}" class="btn btn-sm  indigo-bg white-font"><i class="fa fa-plus"></i>{{ 'New Export'|trans }}</a>
                            <a href="{{ path('inventory_sales') }}" class="btn btn-sm  blue-bg white-font"><i class="fa fa-table"></i>{{ 'Sales'|trans }}</a>
                            <span  data-placement="top" data-toggle="tooltip" title="" class="btn yellow-bg white-font" id="basic-addon1" data-original-title="{{ 'Button Related Instruction'|trans }}"> <i class="fa fa-question-circle"></i></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-th-large"></i> {{ 'Create New Export Sales'|trans }}</div>
                    </div>
                    <div class="portlet-body form">
                        <div class="row">
                            <div class="col-md-12" id="process-msg">
                                <div class="alert alert-success"></div>
                            </div>
                        </div>
                        <form action="{{ actionUrl }}"  method="post" class="form-horizontal" id="postForm" data-action="{{ dataAction }}">
                            <div class="row form-body">
                                <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group-label">
                                                    <label class="col-md-4 text-right"> {{ 'Invoice No'|trans }}</label>
                                                    <div class="col-md-8">{{  entity.invoice }}</div>
                                                </div>
                                                <div class="form-group">
                                                    {{ form_label(form.workOrder, 'Work Order'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <div class="input-group">
                                                            {{ form_widget(form.workOrder) }}
                                                            {{ form_errors(form.workOrder) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {{ form_label(form.issueDate,'Issue Date'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                        <div class="input-group" >
                                                            {{ form_widget(form.issueDate) }}
                                                            <div class="input-group-append" >
                                                                <div class="input-group-text"><i class="feather icon-calendar" ></i></div>
                                                            </div>
                                                        </div>
                                                        {{ form_errors(form.issueDate) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {{ form_label(form.customer, 'Customer'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                        <div class="input-group input-group-select">
                                                            {{ form_widget(form.customer) }}
                                                            {{ form_errors(form.customer) }}
                                                            <div class="input-group-append">
                                                                <div data-action="{{ path('inventory_customer_create_ajax',{'sales':entity.id}) }}" class="input-group-text addCustomer">
                                                                    <i class="feather icon-plus"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group-label">
                                                   <label class="col-md-4 text-right">{{ 'BIN/NID No'|trans }}</label>
                                                    <div class="col-md-8" id="binNo">{% if entity.customer is not empty %}{{  entity.customer.binNo }}{% endif %}</div>
                                                </div>
                                                <div class="form-group-label">
                                                    <label class="col-md-4 text-right">{{ 'Mobile No'|trans }}</label>
                                                    <div class="col-md-8" id="customerMobile">{% if entity.customer is not empty %}{{  entity.customer.mobile }}{% endif %}</div>
                                                </div>
                                                <div class="form-group-label">
                                                    <label class="col-md-4 text-right">{{ 'Address'|trans }}</label>
                                                    <div class="col-md-8" id="customerAddress">{% if entity.customer is not empty %}{{  entity.customer.address }}{% endif %}</div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="col-md-4"></div>
                                                <div class="col-md-8">
                                                    {{ form_widget(form.deemedExport) }}
                                                </div>
                                                <div class="form-group">
                                                    {{ form_label(form.customsHouse, 'Customs House'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                        <div class="input-group">
                                                            {{ form_widget(form.customsHouse) }}
                                                            {{ form_errors(form.customsHouse) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {{ form_label(form.country, 'Export Country'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                        <div class="input-group">
                                                            {{ form_widget(form.country) }}
                                                            {{ form_errors(form.country) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                 <div class="form-group">
                                                    {{ form_label(form.lcNo, 'Shipping Address'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                        <div class="input-group">
                                                            {{ form_widget(form.shippingAddress) }}
                                                            {{ form_errors(form.shippingAddress) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {{ form_label(form.lcNo, 'Transport Info'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                        <div class="input-group">
                                                            {{ form_widget(form.transportInfo) }}
                                                            {{ form_errors(form.transportInfo) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {{ form_label(form.clearForwardingFirm, 'C&F Firm'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <div class="input-group">
                                                            {{ form_widget(form.clearForwardingFirm) }}
                                                            {{ form_errors(form.clearForwardingFirm) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    {{ form_label(form.lcNo, 'LC No'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                        <div class="input-group">
                                                            {{ form_widget(form.lcNo) }}
                                                            {{ form_errors(form.lcNo) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {{ form_label(form.lcDate, 'LC Date'|trans , {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                        <div class="input-group" >
                                                            {{ form_widget(form.lcDate) }}
                                                            <div class="input-group-append" >
                                                                <div class="input-group-text"><i class="feather icon-calendar" ></i></div>
                                                            </div>
                                                        </div>
                                                        {{ form_errors(form.lcDate) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {{ form_label(form.billingAddress, 'Billing Address'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <div class="input-group">
                                                            {{ form_widget(form.billingAddress) }}
                                                            {{ form_errors(form.billingAddress) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {{ form_label(form.billOfEntryNo, 'Bill of Entry No'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                        <div class="input-group">
                                                            {{ form_widget(form.billOfEntryNo) }}
                                                            {{ form_errors(form.billOfEntryNo) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {{ form_label(form.billOfEntryDate, 'Bill of Entry Date'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                        <div class="input-group" >
                                                            {{ form_widget(form.billOfEntryDate) }}
                                                            <div class="input-group-append" >
                                                                <div class="input-group-text"><i class="feather icon-calendar" ></i></div>
                                                            </div>
                                                        </div>
                                                        {{ form_errors(form.billOfEntryDate) }}
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    <div class="card-header grey-bg inner-header">
                                        <h5>{{ "Add Sales Items"|trans }}</h5>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="card-header grey-bg inner-header item-box">
                                        <div class="row" id="add-item">
                                            <div class="col-md-4 input-group select2-large">
                                                <select name="product" id="product" class="form-control select2 input">
                                                    <option value="">-- Select a product name --</option>
                                                    {% for product in products %}
                                                        <option value="{{ path('inventory_sales_item_search',{'id':product.id}) }}">{{ product.name }}</option>
                                                    {% endfor %}
                                                </select>
                                                <input type="hidden" id="productId" name="productId">
                                                <input type="hidden" id="remainingQnt" name="remainingQnt">
                                                <input type="hidden" id="vatPercent" name="vatPercent" value="0">
                                                <input type="hidden" id="purchaseInputTax" name="purchaseInputTax" value="0">

                                            </div>
                                            <div class="col-md-3">
                                                <div class="col-md-12 input-group select2-large" id="batchItem">
                                                </div>
                                                <input type="hidden" id="batchQnt" name="batchQnt">
                                            </div>
                                            <div class="col-md-5">

                                                <div class="input-group">
                                                    <input type="hidden" class="form-control form-control-lg input" placeholder="Sales price" id="salesPrice" name="salesPrice">
                                                    <button type="button" class="btn col-md-5 btn-info" id="price">Price</button>
                                                    <button class="btn" id="remaining">Stock</button>
                                                    <input type="number" class="form-control form-control-lg input" placeholder="Quantity" id="quantity" name="quantity">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-secondary" type="button" id="unit">Unit</button>
                                                        <button data-action="{{ path('inventory_create_sales_item',{'id':entity.id}) }}" id="addProduct" class="btn btn-primary" type="button">Add Item</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card-body card-body-inner">
                                                <table class="table table-bordered" id="item-table">
                                                    <thead class="thead-dark">
                                                    <tr>
                                                        <th class="span1 text-left"><i class="feather icon-slack"></i> </th>
                                                        <th class="span3">Product Name</th>
                                                        <th class="span1">Batch</th>
                                                        <th class="span1">UoM</th>
                                                        <th class="span1 text-right">Quantity</th>
                                                        <th class="span1 text-right">Price</th>
                                                        <th class="span1 text-right">Total</th>
                                                        <th class="span1"><i class="feather icon-settings"></i> </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="invoiceItems">
                                                    {% set totalQuantity = 0 %}
                                                    {% set totalVat = 0 %}
                                                    {% set totalSubTotal = 0 %}
                                                    {% if entity.salesItems is defined and entity.salesItems is not empty %}
                                                        {% for item in entity.salesItems %}
                                                            {% set totalQuantity = totalQuantity + item.quantity  %}
                                                            {% set totalVat = totalVat + item.valueAddedTax  %}
                                                            {% set totalSubTotal = totalSubTotal + item.subTotal %}
                                                    <tr id="item-remove-{{ item.id }}">
                                                        <td class="text-center">{{ loop.index }}.</td>
                                                        <td>{{ item.name }}</td>
                                                        <td>{{ item.productionBatchItem.batch.invoice }}</td>
                                                        <td>
                                                           {% if item.item.unit is not empty %} {{ item.item.unit.name }}{% endif %}</td>
                                                        <td  class="text-right">
                                                            <input type="text" class="form-control amount quantity" data-id="{{ item.id }}"  min="1"  id="quantity-{{ item.id }}" name="quantity[]" value="{{ item.quantity }}" placeholder="{{ item.quantity }}">
                                                        </td>
                                                         <td  class="text-right">
                                                             {{ item.salesPrice|number_format(2) }}
                                                        </td>
                                                        <td  class="text-right" id="total-{{ item.id }}">
                                                             {{ item.total|number_format(2) }}
                                                         </td>
                                                        <td class="text-center">
                                                            <button  type="button" class="btn btn-sm btn-transparent red-font item-remove" data-action="{{ path('inventory_sales_item_delete',{'invoice':entity.id,'item':item.id}) }}" ><i class="fas fa-remove" data-id="{{ item.id }}" aria-hidden="true"></i></button>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                    <tfoot>
                                                    <tr>
                                                        <th colspan="3" class="text-right">Total</th><th class="text-right"></th><th class="text-right" id="totalQuantity">{{ totalQuantity|number_format }}</th><th class="text-right" id="subTotal">{{ totalSubTotal|number_format(2) }}</th><th class="text-right" id="total">{{ (totalSubTotal + totalVat)|number_format(2) }}</th><th></th>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="14">
                                                            <div class="row"><div class="clearfix"><br/></div></div>
                                                            <div class="col-md-12">
                                                                <div class="card-header gray-bg inner-header">
                                                                    <h5>Payment Information</h5>
                                                                </div>
                                                            </div>
                                                            <div class="row"><div class="clearfix"><br/></div></div>
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        {{ form_label(form.issuePerson, 'Issue Person'|trans, {'label_attr': {'class': 'col-md-3'}}) }}

                                                                        <div class="col-md-9">
                                                                            <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                                            <div class="input-group">
                                                                                {{ form_widget(form.issuePerson) }}
                                                                                {{ form_errors(form.issuePerson) }}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        {{ form_label(form.issueDesignation, 'Designation'|trans, {'label_attr': {'class': 'col-md-3'}}) }}

                                                                        <div class="col-md-9">
                                                                            <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                                            <div class="input-group">
                                                                                {{ form_widget(form.issueDesignation) }}
                                                                                {{ form_errors(form.issueDesignation) }}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        {{ form_label(form.narration, 'Narration'|trans, {'label_attr': {'class': 'col-md-3'}}) }}

                                                                        <div class="col-md-9">
                                                                            <div class="input-group">
                                                                                {{ form_widget(form.narration) }}
                                                                                {{ form_errors(form.narration) }}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        {{ form_label(form.transactionMethod, 'Method'|trans, {'label_attr': {'class': 'col-md-3'}}) }}
                                                                        <div class="col-md-9">
                                                                            <div class="input-group">
                                                                                {{ form_widget(form.transactionMethod) }}
                                                                                {{ form_errors(form.transactionMethod) }}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div id="mobileBankHide" >
                                                                        <div class="form-group bank-hide {% if entity.transactionMethod == 'bank' %}show-method{% endif %}" >
                                                                            {{ form_label(form.accountBank, 'Account Bank'|trans, {'label_attr': {'class': 'col-md-3'}}) }}
                                                                            <div class="col-md-9">
                                                                                <div class="input-group" >
                                                                                    {{ form_widget(form.accountBank) }}
                                                                                    {{ form_errors(form.accountBank) }}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="clearfix clearfix-margin-bottom"></div>

                                                                        <div class="form-group bank-hide {% if entity.transactionMethod == 'bank' %}show-method{% endif %}" >
                                                                            {{ form_label(form.chequeNo, 'Cheque No'|trans, {'label_attr': {'class': 'col-md-3'}}) }}
                                                                            <div class="col-md-9">
                                                                                <div class="input-group" >
                                                                                    {{ form_widget(form.chequeNo) }}
                                                                                    {{ form_errors(form.chequeNo) }}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="clearfix clearfix-margin-bottom"></div>

                                                                        <div class="form-group bank-hide {% if entity.transactionMethod == 'bank' %}show-method{% endif %}" >
                                                                            {{ form_label(form.chequeDate, 'Cheque Date'|trans, {'label_attr': {'class': 'col-md-3'}}) }}
                                                                            <div class="col-md-9">
                                                                                <div class="input-group" >
                                                                                    {{ form_widget(form.chequeDate) }}
                                                                                    {{ form_errors(form.chequeDate) }}
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group mobile-hide {% if entity.transactionMethod == 'mobile' %}show-method{% endif %}" >
                                                                            {{ form_label(form.accountMobile, 'Account  Mobile'|trans, {'label_attr': {'class': 'col-md-3'}}) }}
                                                                            <div class="col-md-9">
                                                                                <div class="input-group" >
                                                                                    {{ form_widget(form.accountMobile) }}
                                                                                    {{ form_errors(form.accountMobile) }}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="clearfix clearfix-margin-bottom"></div>

                                                                        <div class="form-group mobile-hide {% if entity.transactionMethod == 'mobile' %}show-method{% endif %}" >
                                                                            {{ form_label(form.trxId, 'Transaction ID'|trans, {'label_attr': {'class': 'col-md-3'}}) }}
                                                                            <div class="col-md-9">
                                                                                <div class="input-group" >
                                                                                    {{ form_widget(form.trxId) }}
                                                                                    {{ form_errors(form.trxId) }}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="clearfix clearfix-margin-bottom"></div>

                                                                        <div class="form-group mobile-hide {% if entity.transactionMethod == 'mobile' %}show-method{% endif %}" >
                                                                            {{ form_label(form.trxDate, 'Date'|trans, {'label_attr': {'class': 'col-md-3'}}) }}
                                                                            <div class="col-md-9">
                                                                                <div class="input-group" >
                                                                                    {{ form_widget(form.trxDate) }}
                                                                                    {{ form_errors(form.trxDate) }}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">

                                                                    <div class="form-group">
                                                                        {{ form_label(form.discountMode, 'Discount Mode'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                                        <div class="col-md-6">
                                                                            <div class="input-group" >
                                                                                {{ form_widget(form.discountMode) }}
                                                                                {{ form_errors(form.discountMode) }}
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        {{ form_label(form.discountCalculation, 'Discount BDT'|trans, {'label_attr': {'class': 'col-md-6'}}) }}
                                                                        <div class="col-md-3">
                                                                            <div class="input-group" >
                                                                                {{ form_widget(form.discountCalculation) }}
                                                                                {{ form_errors(form.discountCalculation) }}
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <span class="input-line-text" id="discount">{{ entity.discount }}</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group-label">
                                                                        <label class="col-md-6 text-right">NetTotal</label>
                                                                        <div class="col-md-3">&nbsp;</div>
                                                                        <div class="col-md-3" id="netTotal"> {{ entity.netTotal }}</div></div>
                                                                    <div class="clearfix clearfix-margin-bottom"></div>

                                                                    <div class="form-group">
                                                                        {{ form_label(form.amount, 'Receive Amount'|trans, {'label_attr': {'class': 'col-md-6'}}) }}

                                                                        <div class="col-md-3">
                                                                            <div class="input-group">
                                                                                {{ form_widget(form.amount) }}
                                                                                {{ form_errors(form.amount) }}
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <span class="input-line-text" id="duable">{{ entity.due }}</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        {{ form_label(form.process, 'Process'|trans, {'label_attr': {'class': 'col-md-6'}}) }}

                                                                        <div class="col-md-6">
                                                                            <div class="input-group">
                                                                                {{ form_widget(form.process) }}
                                                                                {{ form_errors(form.process) }}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-header grey-bg inner-header">
                                        <h5>Additional Information</h5>
                                        <div class="card-header-right">
                                            <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                                                <button type="button" id="addrow"  class="btn btn-sm  green-bg white-font addmore"><i class="fas fa-plus"></i></button>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body card-body-inner">
                                        <div class="col-md-12 clone-block" id="clone-block">
                                            <div class="clone">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <input type="text" name="metaKey[]" id="metaKey" class="form-control form-control-sm" placeholder="Enter label name" value="">
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="input-group">
                                                            <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments">
                                                            <div class="input-group-append">
                                                                <div class="btn btn-sm btn-transparent red-font row-remove hidden">
                                                                    <i class="fa fa-remove"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% if entity.invoiceKeyValues is not empty %}
                                            {% for keyValue in entity.invoiceKeyValues %}
                                                <div class="col-md-12" id="remove-{{ keyValue.id }}" style="margin-bottom: 5px">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <input type="text" name="metaKey[]" id="metaKey" class="form-control form-control-sm" placeholder="Enter label name" value="{{ keyValue.metaKey }}">
                                                            <input type="hidden" id="metaId" name="metaId[]"  value="{{  keyValue.id }}">
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="input-group">
                                                                <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments" value="{{ keyValue.metaValue }}">
                                                                <div class="input-group-append">
                                                                    <div data-action="{{ path('inventory_sales_delete_invoice_meta',{'meta':keyValue.id}) }}" class="btn  btn-sm btn-transparent red-font remove">
                                                                        <i class="fas fa-remove"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="form-actions">
                                        <div class="col-md-6 text-left">
                                            {% if entity.process == 'approved' %}
                                            <div class="btn-group btn-group-sm" role="group">
                                            <a href="{{ path('inventory_sales_preview',{'id':entity.id,'mode':'pdf'}) }}" target="_blank"  class="btn btn-sm  green-bg white-font"><i class="feather icon-download"></i> Download</a>
                                            <a href="{{ path('inventory_sales_preview',{'id':entity.id,'mode':'print'}) }}"  target="_blank"  class="btn btn-sm  indigo-bg white-font"><i class="feather icon-printer"></i> Print</a>
                                            <a href="{{ path('inventory_sales_preview',{'id':entity.id,'mode':'challan'}) }}"  target="_blank"  class="btn btn-sm  yellow-bg white-font"><i class="feather icon-download"></i> Challan</a>
                                                <a href="{{ path('inventory_sales_preview',{'id':entity.id,'mode':'print'}) }}"  target="_blank"  class="btn btn-sm  blue-bg white-font"><i class="feather icon-share"></i> Mushok 6.2</a></div>{% endif %}
                                        </div>
                                        <div class="ol-md-6 text-right">
                                            {{ form_widget(form._token) }}
                                            <input type="hidden" name="paymentTotal" id="paymentTotal" value="{{ entity.netTotal }}">
                                            <input type="hidden" id="purchaseId" name="purchaseId" value="{{ entity.id }}">
                                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                                <button type="reset"  class="btn btn-sm yellow-bg white-font"><i class="fa fa-recycle"></i>{{ 'label.reset'|trans }}</button>
                                                {{ form_widget(form.SaveAndCreate, {label: 'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/inventory/sales/scripts.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
