{% extends 'admin/layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('inventory_sales') }}"> {{ 'Manage Local Export'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Export Invoice'|trans }}: {{ entity.invoice }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('inventory_sales_create',{'mode':'local'}) }}" class="btn btn-sm  green-bg white-font"><i class="fa fa-plus"></i>{{ 'New Local'|trans }}</a>
                            <a href="{{ path('inventory_sales_create',{'mode':'foreign'}) }}" class="btn btn-sm  indigo-bg white-font"><i class="fa fa-plus"></i>{{ 'New Foreign'|trans }}</a>
                            <a href="{{ path('inventory_sales') }}" class="btn btn-sm  blue-bg white-font"><i class="fa fa-table"></i>{{ 'Sales'|trans }}</a>
                            <span  data-placement="top" data-toggle="tooltip" title="" class="btn yellow-bg white-font" id="basic-addon1" data-original-title="{{ 'Button Related Instruction'|trans }}"> <i class="fa fa-question-circle"></i></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-th-large"></i> {{ 'Sales Invoice'|trans }} : {{  entity.invoice }}</div>
                    </div>
                    <div class="portlet-body form">
                        <div class="row form-body">
                            <div class="form-inner-no-space">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group-list">
                                            <label class="col-md-4 text-right">Company Name</label>
                                            <div class="col-md-8" id="binNo">{% if entity.customer is not empty %}{{  entity.customer.companyName }}{% endif %}</div>
                                        </div>
                                        <div class="form-group-list">
                                            <label class="col-md-4 text-right">BIN No.</label>
                                            <div class="col-md-8" id="binNo">{% if entity.customer is not empty %}{{  entity.customer.binNo }}{% endif %}</div>
                                        </div>
                                        <div class="form-group-list">
                                            <label class="col-md-4 text-right">Mobile</label>
                                            <div class="col-md-8" id="vendorMobile">{% if entity.customer is not empty %}{{  entity.customer.mobile }}{% endif %}</div>
                                        </div>
                                        <div class="form-group-list">
                                            <label class="col-md-4 text-right">Address</label>
                                            <div class="col-md-8" id="vendorAddress">{% if entity.customer is not empty %}{{  entity.customer.address }}{% endif %}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group-list">
                                            <label class="col-md-4 text-right">Invoice No</label>
                                            <div class="col-md-8">{{  entity.invoice }}</div>
                                        </div>
                                        <div class="form-group-list">
                                            <label class="col-md-4 text-right">Work Order No</label>
                                            <div class="col-md-8">{% if entity.workOrder is not empty %}{{  entity.workOrder }}{% endif %}</div>
                                        </div>
                                        <div class="form-group-list">
                                            <label class="col-md-4 text-right">Issue Date</label>
                                            <div class="col-md-8" id="binNo">{{ entity.issueDate|date('d-m-Y') }}</div>
                                        </div>
                                        <div class="form-group-list">
                                            <label class="col-md-4 text-right">Discount Mode</label>
                                            <div class="col-md-6">{% if entity.discountMode is not empty %}{{ entity.discountMode|capitalize }}/{{ entity.discountCalculation }} {% endif %}</div>
                                        </div>
                                        <div class="form-group-list">
                                            <label class="col-md-4 text-right">Method</label>
                                            <div class="col-md-6">{{ entity.transactionMethod|capitalize }}</div>
                                        </div>
                                        {% if entity.transactionMethod == 'bank' %}
                                            <div class="form-group-list">
                                                <label class="col-md-4 text-right">Bank Account</label>
                                                <div class="col-md-6">{% if entity.accountBank is not empty %}{{  entity.accountBank.name }}{% endif %}</div>
                                            </div>
                                        {% endif %}
                                        {% if entity.transactionMethod == 'mobile' %}
                                            <div class="form-group-list">
                                                <label class="col-md-4 text-right">Mobile Account</label>
                                                <div class="col-md-6">{% if entity.accountMobile is not empty %}{{  entity.accountMobile.name }}{% endif %}</div>
                                            </div>
                                        {% endif %}
                                        <div class="form-group-list">
                                            <label class="col-md-4 text-right">Process</label>
                                            <div class="col-md-6">{{ entity.process|capitalize }}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group-list">
                                            <label class="col-md-6 text-right">LC No & Date</label>
                                            <div class="col-md-6">{{  entity.lcNo }}/{{ entity.lcDate|date("d-m-y") }}</div>
                                        </div>
                                        <div class="form-group-list">
                                            <label class="col-md-6 text-right">Entry No/Date</label>
                                            <div class="col-md-6">{{ entity.billOfEntryNo }}/{{ entity.billOfEntryDate|date("d-m-y") }}</div>
                                        </div>
                                        <div class="form-group-list">
                                            <label class="col-md-6 text-right">Customs House</label>
                                            <div class="col-md-6">{% if entity.customsHouse is not empty %}{{ entity.customsHouse.name|capitalize }}{% endif %}</div>
                                        </div>
                                        <div class="form-group-list">
                                            <label class="col-md-6 text-right">Export Country</label>
                                            <div class="col-md-6">{% if entity.country is not empty %}{{ entity.country.name|capitalize }}{% endif %}</div>
                                        </div>
                                        <div class="form-group-list">
                                            <label class="col-md-6 text-right">Transport Info</label>
                                            <div class="col-md-6">{% if entity.transportInfo is not empty %}{{ entity.transportInfo }}{% endif %}</div>
                                        </div>
                                        <div class="form-group-list">
                                            <label class="col-md-6 text-right">Shipping Address</label>
                                            <div class="col-md-6">{% if entity.shippingAddress is not empty %}{{ entity.shippingAddress }}{% endif %}</div>
                                        </div>
                                    </div>

                                </div>
                                <div class="card-header grey-bg inner-header">
                                    <h5>Add Items</h5>
                                </div>
                                <div class="clearfix"></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card-body card-body-inner">
                                            <table class="table table-bordered" id="item-table">
                                                <thead class="thead-dark">
                                                <tr>
                                                    <th class="text-center"><i class="feather icon-slack"></i> </th>
                                                    <th class="span3">Product Name</th>
                                                    <th>UoM</th>
                                                    <th class="span1 text-right">Quantity</th>
                                                    <th class="span1 text-right">SalesPrice</th>
                                                    <th class="text-right">Total</th>
                                                </tr>
                                                </thead>
                                                <tbody id="invoiceItems">
                                                {% set totalQuantity = 0 %}
                                                {% set totalVat = 0 %}
                                                {% set totalSubTotal = 0 %}
                                                {% if entity.salesItems is defined and entity.salesItems is not empty %}
                                                    {% for item in entity.salesItems %}
                                                        {% set totalQuantity = totalQuantity + item.quantity  %}
                                                        {% set totalVat = totalVat + item.valueAddedTax  %}
                                                        {% set totalSubTotal = totalSubTotal + item.subTotal %}
                                                        <tr id="item-remove-{{ item.id }}">
                                                            <td class="text-center">{{ loop.index }}.</td>
                                                            <td>{{ item.name }}</td>
                                                            <td>{{ item.uom }}</td>
                                                            <td class="text-right">{{ item.quantity }}</td>
                                                            <td class="text-right">{{ item.salesPrice }}</td>
                                                            <td  class="text-right" id="total-{{ item.id }}">{{ item.total|number_format(2) }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                {% endif %}
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <th colspan="3" class="text-right">Total</th><th class="text-right" id="totalQuantity">{{ totalQuantity|number_format }}</th><th class="text-right"></th><th class="text-right" id="total">{{ (totalSubTotal + totalVat)|number_format(2) }}</th>
                                                </tr>
                                                <tr>
                                                    <th colspan="5" class="text-right">Discount BDT({{ entity.discountCalculation }}{% if entity.discountMode== 'percent' %}%{% endif %})</th><th class="text-right" id="discount">{{ entity.discount|number_format(2) }}</th>
                                                </tr>
                                                <tr>
                                                    <th colspan="5" class="text-right">NetTotal BDT</th><th class="text-right" id="netTotal">{{ entity.netTotal|number_format(2) }}</th>
                                                </tr>
                                                <tr>
                                                   <th class="text-right" colspan="5">Payable BDT</th><th  class="text-right " id="payable">{{ entity.amount|number_format(2) }}</th>
                                                </tr>
                                                <tr>
                                                   <th class="text-right" colspan="5">Duable BDT</th><th  class="text-right " id="payable">{{ entity.due|number_format(2) }}</th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="3">Receive Address</th>
                                                    <td class="text-left" colspan="6">{{ entity.deliveryAddress }}</td>
                                                </tr>
                                                <tr>
                                                    <th colspan="3" class="text-right">Issue Person & Designation</th>
                                                    <td class="text-left" colspan="2">{{ entity.issuePerson }}</td>
                                                    <td  class="text-left" colspan="2">{{ entity.issueDesignation }}</td>
                                                </tr>
                                                <tr>
                                                    <th colspan="3" class="text-right">Narration</th>
                                                    <td class="text-left" colspan="4">{{ entity.narration }}</td>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                {% if entity.invoiceKeyValues is not empty %}
                                <div class="card-header grey-bg inner-header">
                                    <h5>{{ "Additional Information"|trans }}</h5>
                                </div>
                                <div class="card-body card-body-inner">

                                        {% for keyValue in entity.invoiceKeyValues %}
                                            <div class="row">
                                                <div class="col-md-3 text-right">
                                                    {{ keyValue.metaKey }}
                                                </div>
                                                <div class="col-md-9">
                                                    {{ keyValue.metaValue }}
                                                </div>
                                            </div>
                                        {% endfor %}

                                </div>
                                {% endif %}
                                <div class="clearfix"></div>
                                <div class="form-actions">
                                    <div class="col-md-6 text-left">
                                        {% if entity.process == 'approved' %}
                                        <div class="btn-group" role="group">
                                        <a href="{{ path('nbrvat_report_mushuk_6_3_print',{'id':entity.id,'mode':'pdf'}) }}" target="_blank"  class="btn btn-sm  green-bg white-font addmore"><i class="feather icon-download"></i> Download</a>
                                        <a href="{{ path('nbrvat_report_mushuk_6_3_print',{'id':entity.id,'mode':'print'}) }}"  target="_blank"  class="btn btn-sm  indigo-bg white-font addmore"><i class="feather icon-printer"></i> Print</a>
                                            <a href="{{ path('nbrvat_report_mushuk_6_3_print',{'id':entity.id,'mode':'mushok'}) }}"  target="_blank"  class="btn btn-sm  blue-bg white-font addmore"><i class="feather icon-share"></i> Mushok 6.3</a></div>
                                        {% endif %}
                                    </div>
                                    <div class="ol-md-6 text-right">
                                        {% if entity.process == 'done' %}
                                        <a href="javascript:" data-action="{{ path('inventory_sales_process',{'id':entity.id,'process':'checked'}) }}"   class="btn btn-sm  green-bg white-font approveProcess"><i class="feather icon-check"></i> Checked</a>
                                        {% endif %}
                                        {% if entity.process == 'checked' and entity.checkedBy is not empty %}
                                        <a href="javascript:" data-action="{{ path('inventory_sales_process',{'id':entity.id,'process':'approved'}) }}" class="btn btn-sm  indigo-bg white-font approveProcess"><i class="feather icon-check-square"></i> Approved</a>
                                        {% endif %}
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/inventory/Export/scripts.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
