{% extends 'admin/layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> {{ 'Manage Sales'|trans }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Sales'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('inventory_sales_create') }}" class="btn btn-sm  green-bg white-font"><i class="fa fa-plus"></i>{{ 'New Sales'|trans }}</a>

                        </div>

                        <div class="btn-group card-option">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-original-title="" title="">
                                <i class="fas fa-ellipsis-v"></i>
                            </button>
                            <div class="list-unstyled dropdown-info card-option dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                <a id="excelBtn" class="dropdown-item" href="javascript:"> <i class="far fa-file-excel"></i> Excel</a>
                                <a id="pdfBtn" class="dropdown-item" href="javascript:"> <i class="far fa-file-pdf"></i> PDF</a>
                                <a id="printBtn" class="dropdown-item" href="javascript:"> <i class="fa fa-print" aria-hidden="true"></i> Print</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">

                    <table class="table table-striped table-bordered table-hover dataTable" id="entityDatatable">
                        <thead class="thead-dark">
                        <tr role="row" class="filter">
                            <td colspan="2">
                              {#  <select class="form-control" name="productType" id="productType">
                                    <option value=""> -Product Type- </option>
                                    {% for productType in productTypes %}
                                        <option value="{{ productType.id }}">{{ productType.name }}</option>
                                    {% endfor %}
                                </select>#}
                            </td>
                            <td>
                                <select class="form-control" name="groupName" id="groupName">
                                   {# <option value=""> -Product Group- </option>
                                    {% for productGroup in productGroups %}
                                        <option value="{{ productGroup.id }}">{{ productGroup.name }}</option>
                                    {% endfor %}#}
                                </select>
                            </td>
                            <td>
                                <input  type="text" class="form-control  input-sm" name="category" id="category" placeholder="Category Name"> </td>
                            <td colspan="2">
                            <input  type="text" class="form-control  input-sm" name="name" id="name" placeholder="Item Name"> </td>

                            <td>
                                <input type="text" class="form-control  input-sm" placeholder="Enter Barcode" name="barcode" id="barcode">
                            </td>

                        <tr>
                            <th><i class="feather icon-list"></i></th>
                            <th>Created</th>
                            <th>Invoice</th>
                            <th>Vendor</th>
                            <th>Method</th>
                            <th>SubTotal</th>
                            <th>Discount</th>
                            <th>Dis.Type</th>
                            <th>Vat</th>
                            <th>NetTotal</th>
                            <th>Receive</th>
                            <th>Due</th>
                            <th>Mode</th>
                            <th>Process</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/inventory/sales/scripts.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/inventory/sales/ajax-pagination.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}

