
<div class="portlet box blue ">
    <div class="portlet-title">
        <div class="caption"><i class="fa fa-th-large"></i> {{ 'Create New Item'|trans }}</div>
    </div>
    <div class="portlet-body form">
        <div class="row">
            <div class="col-md-12" id="process-msg">
                <div class="alert alert-success"></div>
            </div>
        </div>
        <form action="{{ actionUrl }}" novalidate="novalidate" method="post" class="form-horizontal" id="postForm">
        <div class="row form-body">
            <div class="form-inner">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.productType, 'label.product.type', {'label_attr': {'class': 'col-md-4'}}) }}
                            <div class="col-md-8">
                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                {{ form_widget(form.productType) }}
                                {{ form_errors(form.productType) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.productGroup, 'label.product.group', {'label_attr': {'class': 'col-md-4'}}) }}
                            <div class="col-md-8">
                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                {{ form_widget(form.productGroup) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.category, 'label.category', {'label_attr': {'class': 'col-md-4'}}) }}
                            <div class="col-md-8">
                                {{ form_widget(form.category) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.brand, 'label.brand', {'label_attr': {'class': 'col-md-4'}}) }}
                            <div class="col-md-8">
                                {{ form_widget(form.brand) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.name, 'label.name', {'label_attr': {'class': 'col-md-4'}}) }}
                            <div class="col-md-8">
                                <span class="not-blank"> {{ 'Required'|trans }}</span>
                                {{ form_widget(form.name) }}
                                {{ form_errors(form.name) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.unit, 'label.unit', {'label_attr': {'class': 'col-md-4'}}) }}
                            <div class="col-md-8">
                                {{ form_widget(form.unit) }}
                                {{ form_errors(form.unit) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.purchasePrice, 'label.purchase.sales', {'label_attr': {'class': 'col-md-4'}}) }}
                            <div class="col-md-4">
                                {{ form_widget(form.purchasePrice) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_widget(form.salesPrice) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.hsCode,'label.vat.code', {'label_attr': {'class': 'col-md-4'}}) }}
                            <div class="col-md-8">
                                {{ form_widget(form.hsCode) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.maxQuantity, 'label.max.min', {'label_attr': {'class': 'col-md-4'}}) }}
                            <div class="col-md-4">
                                {{ form_widget(form.maxQuantity) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_widget(form.minQuantity) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-actions right">
            <div class="col-md-12">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <button type="reset"  class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>{{ 'label.reset'|trans }}</button>
                    {{ form_widget(form.SaveAndCreate, {label: 'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        {{ form_end(form) }}
    </div>
</div>
<style>
    .btn{
        border-radius: 0!important;
    }
    .form-body{
        display: flex;
        align-items: center;
    }
    .form-control{
        position: relative;
    }
    label.error{
        position: absolute;
        top: -3px;
        font-size: 12px;
        left: 14px;
        color: #ff2515;
    }
</style>